---
// Logo and Intro page contents (all has to be inside this absolute container)

import ReviewX from "@components/widgets/ReviewX.astro";
import PlayPauseIntroVideo from "./PlayPauseIntroVideo.astro";

---

<div id="intro-content"
  class="logo-container
    text-center
    absolute z-20 top-[18vh]
    w-full
    sm:w-1/2 sm:left-1/4"
>
  <h1
    class="spz-heading relative max-w-[10em] mx-auto heading-shadow text-white font-semibold text-shadow !leading-[0.9em] select-none"
  >
    <img
      class="h-[10vh] sm:h-[14vh]
        mx-auto mb-3"
      src="/favicon.svg"
      alt="Swiss Paraglide Zermatt - Logo"
    />
    Swiss Paraglide
    <span class="relative h-2 w-0">
      <span
        class="zermatt absolute right-0 -bottom-4 font-sans font-light text-sm"
      >
        ZERMATT
      </span>
    </span>
  </h1>

  <div id="logoLinks" class="relative   top-6 sm:top-10  text-base sm:text-lg md:text-xl   z-20 w-full text-center  text-white   font-light md:font-thin  select-none">
    <a href="/flights">Our Flights</a> 
    &nbsp; | &nbsp;
    <a href="/preflight">Pre-flight</a> 
    &nbsp; | &nbsp;
    <a href="/reviews">Reviews</a> 
  </div>

</div>





<div class="absolute z-20 top-[70vh] w-full text-center">


  <a aria-label="Book Now!" href="/book-now"
    class="w-48 md:w-64   mx-auto  mb-4   px-3.5 py-2.5 relative text-lg md:text-2xl     block rounded-md border-2 border-black bg-lime-300   select-none font-semibold text-black shadow-sm hover:white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:bg-lime-300"
  >
    <img src="/images/callouts/easy-online-booking.png" alt="Easy Online Booking arrow" class="hidden tall:block w-48  absolute -top-32 -right-24"/>

    Book Online Now!
  </a>

  <PlayPauseIntroVideo />

  <ReviewX />
  

</div>






<style>
  .logo-container {
    font-size: clamp(2rem, 6.5vw, 4rem);
  }
  .logo-container .zermatt {
    font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  }


  #logoLinks a {
    font-weight: 400;
    
  }
  #logoLinks a:hover {
    text-decoration: underline;
    
  }
</style>
