---
// A scalable Logo box
---

<div id="intro-content"
  class="logo-container
    text-center
    absolute z-20 top-[18vh]
    w-full
    sm:w-1/2 sm:left-1/4"
>
  <h1
    class="spz-heading relative max-w-[10em] mx-auto heading-shadow text-white font-semibold text-shadow !leading-[0.9em]"
  >
    <img
      class="h-[10vh] sm:h-[14vh]
        mx-auto mb-3"
      src="/favicon.svg"
      alt="Swiss Paraglide Zermatt - Logo"
    />
    Swiss Paraglide
    <span class="relative h-2 w-0">
      <span
        class="zermatt absolute right-0 -bottom-4 font-sans font-light text-sm"
      >
        ZERMATT
      </span>
    </span>
  </h1>

</div>

<div class="absolute z-20 top-[20vh] w-full text-center">
  <a
    aria-label="Book Now!"
    href="/book-now"
    class="w-48 md:w-64   mx-auto mt-[45vh]   text-lg md:text-2xl     block rounded-md border-2 border-black bg-lime-300 px-3.5 py-2.5 font-semibold text-black shadow-sm hover:white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:bg-lime-300"
  >
    Book Online Now!
  </a>
  <div class="mt-4 text-white px-3 py-2 max-w-fit mx-auto  bg-black/50  rounded">Easily choose your flight, date, time &amp; number of passengers.</div>
</div>


<!-- <div id="buttons">
  <div class="absolute z-20 top-[18vh] max-w-2xl text-center">
    <a
      aria-label="Book Now!"
      href="/book-now"
      class="w-48 md:w-64   mx-auto mt-[45vh]   text-lg md:text-2xl     block rounded-md border-2 border-black bg-lime-300 px-3.5 py-2.5 font-semibold text-black shadow-sm hover:white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:bg-lime-300"
    >
      Book Online Now!
    </a>
  </div>

  <div class="mt-12 flex items-center justify-center gap-x-6"></div>
  
  <div class="min-h-12   mx-auto    bg-white/80 sm:rounded ">

  </div>

</div> -->



<style>
  .logo-container {
    font-size: clamp(2rem, 6.5vw, 4rem);
  }
  .logo-container .zermatt {
    font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  }
</style>
