---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import Tail from '../components/Tail.vue';
import CTABook from '../components/CTA-Book.vue';

---

<Layout title="Swiss Paraglide :: Book your Paragliding Flight directly online with Swiss Paraglide Zermatt">
	<main>

		<CTABook />
		  


	</main>
</Layout>

<style>

</style>
