---
import Layout from '@layouts/Layout.astro';

import Test from '@components/booking/test.astro';



---

<Layout title="Swiss Paraglide Zermatt - Book your Tandem Paragliding Flight directly online!">
	<main>
		
		<Test />
		  

	</main>
</Layout>

