---
import Layout from "@layouts/Layout.astro";


---

<Layout title="Book your Paraglidig flight with Swiss Paraglide Zermatt">
  <main>

    <div
      id="detailsBox"
      class="py-12"
      style="background: no-repeat url('/images/paragliding/Winter-paragliding-zermatt-swiss-paraglide.jpg'); background-size:cover; background-attachment:fixed;"
    >

      <div
        class="mx-auto max-h-48 max-w-2xl p-10 bg-white/90 rounded-md"
        style="min-height: calc(100vh - 237px);"
      >

      <h3 class="text-indigo-800 font-bold text-2xl  mb-4">
        Great &ndash; you've decided to come flying with us!
      </h3>

      <p>
        Just choose your flight date &amp; flight, then fill in your details. 
        You'll receive a confirmation email with details for your flight.
      </p>

      <p class="text-orange-800 font-medium">
        <svg class="w-5 h-5 mr-1  inline" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z" />
        </svg>
        
        A <span class="underline">valid</span> Credit Card is required to book your flight.
      </p>

      <div class="mt-4 text-center  mb-6">
        <a  href="/book-now-vue"  onclick="" class="outline outline-2 outline-offset-4 outline-indigo-400     inline-flex items-center gap-x-2 rounded-md bg-indigo-600 px-3.5 py-2.5 text-md font-semibold text-white shadow-sm hover:bg-indigo-500 hover:shad focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          <svg class="-ml-0.5 size-5"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z" clip-rule="evenodd" />
          </svg>
          
          Start Your Booking...
        </a>
      </div>


      <p class="text-sm">
        <svg class="w-5 h-5 mr-1  inline" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
        </svg>        
        
        Note: your card is not charged when making the booking
        (you will be charged after the flight, or upon late cancellation).
        This is similar to how hotels or car rentals work.
      </p>

      <p>
        Please have a valid Credit Card or Cash with you on the day of your flight, so 
        we can complete payment after you fly. We only charge you after flying as otherwise 
        the banks charge all of us if we have to refund due to poor weather.
      </p>

      <p class="bg-none text-sm text-gray-700 mt-2">
        Please be on time at your Meeting Point. It is possible that we'll be running a few minutes late &ndash;
        please wait for us. (we will try to contact you if we are delayed more than 15 minutes &ndash; please be 
        contactable on your phone!).
        <a
          class="font-medium underline"
          href="/terms-and-conditions#cancellations"
          >Terms &amp; Conditions... (Cancellations)
        </a>
      </p>


      </div>
    </div>
  </main>
</Layout>

<style scoped>
  #detailsBox p {
    margin-bottom: 1.5rem;
  }
</style>

<script>
  // Preload the component
  import('@components/booking/App.vue');
</script>