---
import Layout from '@layouts/LayoutBooking.astro';

import BookingApp from '@components/booking/App.vue';



---

<Layout title="Swiss Paraglide Zermatt - Book your Tandem Paragliding Flight directly online!">
	<main>
		
		<BookingApp client:only/>
		  

	</main>
</Layout>

