---
import Layout from '@layouts/Layout.astro';
import CTABook from '@components/CTA-Book.astro';

---

<Layout title="Swiss Paraglide :: Book your Paragliding Flight directly online with Swiss Paraglide Zermatt">
	<main>

		<CTABook title="Book your flight now"/>
		  


	</main>
</Layout>

<style>

</style>
