---


import Layout from '@layouts/LayoutBooking.astro';


---

<Layout title="Swiss Paraglide Zermatt - Book your Tandem Paragliding Flight directly online!">
	<main>
		
    
		
		  

	</main>
</Layout>

