---
import Layout from '@layouts/Layout.astro';

import CTABook from '@components/CTA-Book.astro';

---

<Layout title="Swiss Paraglide Zermatt - Tandem Paragliding Flights in front of the Matterhorn.">
	<main>
		
		<CTABook  title="Contact us..."/>
		  


	</main>
</Layout>

<style>

</style>
