---
import Layout from '@layouts/Layout.astro';

// import CTABook from '@components/CTA-Book.astro';

---


<Layout title="Book your Paraglidig flight with Swiss Paraglide Zermatt">
  <main>
    <div
      class="py-12"
      style="background: no-repeat url('/images/paragliding/Winter-paragliding-zermatt-swiss-paraglide.jpg'); background-size:cover; background-attachment:fixed;"
    >
      <div
        class="mx-auto max-w-2xl px-6 lg:px-8"
        style="min-height: calc(100vh - 287px);"
      >
        <h2
          class="mt-2 py-4 px-4 text-6xl text-center font-bold strong-text-shadow text-white drop-shadow-lg bg-black/80 rounded-lg"
        >
          Contact Info
        </h2>

        <p class="mt-2 sm:mt-8 py-4 px-4 text-lg font-normal tracking-tight text-white drop-shadow-lg bg-black/80 rounded-lg" >
          Phone &amp; Whatsapp:
          <a
            class="text-4xl lg:text-6xl mx-auto py-4 pl-4 text-center block font-bold strong-text-shadow text-lime-200"
            href="tel:+41 76 651 0065"
            title="Click to call Swiss Paraglide Zermatt"
          >
            +41 76 651 0065

            <svg
              class="w-12 h-12 drop-shadow-md text-lime-400 stroke stroke-lime-900 absolute -left-4 bottom-[1.5rem]"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M15 3.75a.75.75 0 0 1 .75-.75h4.5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-1.5 0V5.56l-4.72 4.72a.75.75 0 1 1-1.06-1.06l4.72-4.72h-2.69a.75.75 0 0 1-.75-.75Z"
                clip-rule="evenodd"></path>
              <path
                fill-rule="evenodd"
                d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </p>


        <p class="mt-2 sm:mt-8  py-4 px-4 text-lg font-normal tracking-tight text-white drop-shadow-lg bg-black/80 rounded-lg" >
          Email:
          <a
            class="text-xl sm:text-4xl mx-auto py-4 pl-4 text-center block font-bold strong-text-shadow text-white"
            href="mailto:info@swissparaglide.com"
            title="Click to send an Email to Swiss Paraglide Zermatt"
          >
            info@swissparaglide.com

            <svg 
              class="w-12 h-12 drop-shadow-md text-white stroke stroke-gray-300 absolute -left-4 bottom-[1.5rem]"
              viewBox="0 0 24 24" fill="currentColor" 
            >
              <path fill-rule="evenodd" d="M17.834 6.166a8.25 8.25 0 1 0 0 11.668.75.75 0 0 1 1.06 1.06c-3.807 3.808-9.98 3.808-13.788 0-3.808-3.807-3.808-9.98 0-13.788 3.807-3.808 9.98-3.808 13.788 0A9.722 9.722 0 0 1 21.75 12c0 .975-.296 1.887-.809 2.571-.514.685-1.28 1.179-2.191 1.179-.904 0-1.666-.487-2.18-1.164a5.25 5.25 0 1 1-.82-6.26V8.25a.75.75 0 0 1 1.5 0V12c0 .682.208 1.27.509 1.671.3.401.659.579.991.579.332 0 .69-.178.991-.579.3-.4.509-.99.509-1.671a8.222 8.222 0 0 0-2.416-5.834ZM15.75 12a3.75 3.75 0 1 0-7.5 0 3.75 3.75 0 0 0 7.5 0Z" clip-rule="evenodd" />
            </svg>
            
          </a>
        </p>

        <p class="relative mt-4 sm:mt-12  pl-16 pr-4 py-6 text-lg font-normal tracking-tight text-white drop-shadow-lg bg-black/80 rounded-lg" >
          <span class="font-bold">Address:</span> <br>
          Swiss Paraglide Zermatt <br>
          Schluhmattstrasse 41 <br>
          3920 Zermatt <br>
          Switzerland

          <svg 
            class="w-12 h-12 drop-shadow-md text-white stroke stroke-gray-300 absolute -left-4 top-[1.5rem]"
            viewBox="0 0 24 24" fill="currentColor" 
          >
            <path d="M11.47 3.841a.75.75 0 0 1 1.06 0l8.69 8.69a.75.75 0 1 0 1.06-1.061l-8.689-8.69a2.25 2.25 0 0 0-3.182 0l-8.69 8.69a.75.75 0 1 0 1.061 1.06l8.69-8.689Z" />
            <path d="m12 5.432 8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75V21a.75.75 0 0 1-.75.75H5.625a1.875 1.875 0 0 1-1.875-1.875v-6.198a2.29 2.29 0 0 0 .091-.086L12 5.432Z" />
          </svg>
          

        </p>


      </div>
    </div>
  </main>
</Layout>
