---
import Layout from "@layouts/Layout.astro";

// import CTABook from '@components/CTA-Book.astro';
---

<Layout title="Book your Paraglidig flight with Swiss Paraglide Zermatt">
  <main>
    <div
      class="py-12"
      style="background: no-repeat url('/images/paragliding/Winter-paragliding-zermatt-swiss-paraglide.jpg'); background-size:cover; background-attachment:fixed;"
    >
      <div
        class="mx-auto max-w-7xl px-6 lg:px-8 mt-8 md:mt-16"
        style="min-height: calc(100vh - 287px);"
      >
        <h2
          class="mt-2 py-4 px-4 text-6xl text-center font-bold strong-text-shadow text-white drop-shadow-lg bg-black/60 rounded-lg"
        >
          Contact Info
        </h2>

        <div class="rounded-lg bg-white/90">
          <p
            class="mt-6 sm:mt-8 md:mt-16 py-4 px-4  font-normal tracking-tight text-black drop-shadow-lg"
          >
            Telephone &amp; Whatsapp:
            <a
              class="text-4xl md:text-6xl mx-auto pt-12 pb-4 pl-4 text-center block font-bold"
              href="tel:+41 76 651 0065"
              title="Click to call Swiss Paraglide Zermatt"
            >
              +41 76 651 0065

            </a>
          </p>

          <p class="mt-2 sm:mt-8 py-4 px-4 text-lg">
            Email:
            <a
              class="text-2xl sm:text-4xl mx-auto py-4 pl-4 text-center block font-bold strong-text-shadow text-white"
              href="mailto:info@swissparaglide.com"
              title="Click to send an Email to Swiss Paraglide Zermatt"
            >
              info@swissparaglide.com

            </a>
          </p>

          <p
            class="relative mt-4 sm:mt-12 pl-20 pr-4 py-6 text-lg "
          >
            <span class="font-bold -ml-4 absolute">Address:</span>
            <br />
            Swiss Paraglide Zermatt <br />
            Schluhmattstrasse 41 <br />
            3920 Zermatt <br />
            Switzerland

          </p>

        </div>


      </div>
    </div>
  </main>
</Layout>
