---
import Layout from "@layouts/Layout.astro";
import FAQ from "@components/widgets/FAQ.astro";
---

<Layout
  title="FAQ's - Frequently Asked Questions for Tandem Paragliding in Zermatt, Switzerland"
>
  <main>
    <div id="top" class="relative w-0 h-0 -top-16"></div>

    <div class="bg-white px-6 pt-12 sm:pt-32 pb-8 sm:pb-12 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
          FAQs
        </h2>
        <p
          class="mt-6 mb-4 sm:mb-6 text-lg leading-6 sm:leading-8 text-gray-600"
        >
          Some of our most Frequently Asked Questions.
        </p>
      </div>
    </div>


    <div class="mx-auto max-w-3xl">
      <div class="FAQBox   mb-4 sm:mb-10    relative px-4 py-5 sm:p-6 mx-4 sm:mx-6 rounded-lg bg-white shadow-md border-[1px] border-slate-200">

        <FAQ question="1. &nbsp; How do I book a flight?">
          <p>
            Bookings are made on our custom online reservation system. Click Book Now! to make your reservation:
          </p>
          <p>
            <a class=" block text-center" 
              href="/book-now" aria-label="Book Now!" 
            > 
              <button type="button" class="rounded text-black shadow-md bg-lime-300 px-2 py-1 text-md font-semibold hover:bg-gray-100 ring-1 ring-inset ring-white hover:ring-lime-300 " 
              >
                Book Now!
              </button>
            </a>
          </p>
          <p>
            You'll be asked when you want to fly, how many people and
            some basic information (age, finess, etc...). Complete your booking/reservation,
            you'll be asked for a valid credit card. Final payment happens after your flight
            is completed.
          </p>
        </FAQ>

        <FAQ question="2. &nbsp; I'm scared of heights! Will I still be able to fly..?">
          <p>
            This is very normal! 
          </p>
          <p>
            Some passengers are nervous before the start, thinking that paragliding is like Bungee-jumping or 
            Sky-diving &ndash: it really isn't! Paragliding is usually very relaxed and almost
            every passenger that is nervous, once in the air, shouts out: 
            "This is amazing &ndash; not scary at all!"
          </p>
        </FAQ>

        <FAQ question="3. &nbsp; What are the Age limits">
          <p>
            If you are between the ages of 5 to 70 &ndash; and are reasonable fit, you will be able to
            fly as a passenger with us. ( <a href="/preflight#fitness">See Pre-flight: Fitness &amp; Age</a> )
          </p>
        </FAQ>

        <FAQ question="4. &nbsp; What are the weight limits?">
          <p>
            We can take passengers up to <strong>90kg</strong> flying. If you are heavier but very fit
            &ndash; feel free to contact us, we might be able to organize a lighter pilot
            and make an exception.
            ( <a href="/preflight#fitness">See Pre-flight: Fitness &amp; Age</a> )
          </p>
        </FAQ>


        <FAQ question="5. &nbsp; Is the Photo &amp; Video Package included in the flight price?">
          <p>
            The Photo &amp; Video Package is an optional CHF 40.- and is not included in the 
            flight price.
          </p>
        </FAQ>

        <FAQ question="6. &nbsp; Is the lift ticket included in the flight price?">
          <p>
            No. The lift ticket up the mountain is not included in the flight price.
            Some people aready have purchased Ski Passes or Peak Passes and don not 
            need to buy a one-way ticket to the take-off area.
            ( <a href="/preflight#transport">See Pre-flight: Mountain Transport </a> )
          </p>
          <p>
            The price of the lift ticket depends on which take-off we are going to and 
            also what time of year (they use "dynamic" pricing). Exact information can 
            be found on the Zermatt Bergbahnen (Lift Company) website: 
            <a target="_blank" href="https://www.matterhornparadise.ch/en/information/tickets-prices">Zermatt Bergbahnen</a>
          </p>
          <p>
            Unless we have informed you otherwise, please wait to purchase the lift ticket to 
            the take-off area, until you have met your pilot. Otherwise you may find you have 
            bought the wrong ticket (and they won't refund mistakes...)
          </p>
        </FAQ>


        <FAQ question="7. &nbsp; I have a Swiss Pass (or Half Fare Card) from the Swiss Railways (SBB) - is the lift up free?">
          <p>
            If you have a valid Swiss Pass or Half Fare Card from Swiss Railways (SBB), you will
            receive a 50% discount on one-way tickets to the take-off area.
            <a target="_blank" href="https://www.swisspasses.com/railpass/">Swiss Passes</a>
          </p>
        </FAQ>

        <FAQ question="8. &nbsp; Do I need insurance?">
          <p>
            Every passenger should have their own comprehensive accident insurance.
          </p>
          <p>
            If you are from an EU country, then you are covered for paragliding by your standard health &amp; 
            accident insurance.
          </p>
          <p>
            Swiss Paraglide Zermatt also has an extra layer of insurance protection, offered through 
            the Swiss Paragliding Association (SHV-FSVL), that covers up to CHR 100'00.- in Switzerland
            (on top of your private insurance &ndash; this is an extra service we offer and is not 
            meant to be your only insurance).
            <a target="_blank" href="https://www.shv-fsvl.ch/en/member-service/insurance/">See "Tandem"</a>
          </p>
        </FAQ>


      </div>

      <div class="relative top-6 mb-10 text-center w-full">
        <a href="#top" class="toTop">TOP</a>
      </div>
    </div>
  </main>
</Layout>

<style>

  .FAQBox p {
    margin-bottom: 1rem;
  }
    .FAQBox a {
      text-decoration: underline;
      color: rgb(154 52 18);
    }
      .FAQBox a::before {
        display: inline-block;
        width: 1rem;
        margin-right: 0.2rem;
        vertical-align: middle;
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgb(154 52 18)"><path d="M18.3638 15.5355L16.9496 14.1213L18.3638 12.7071C20.3164 10.7545 20.3164 7.58866 18.3638 5.63604C16.4112 3.68341 13.2453 3.68341 11.2927 5.63604L9.87849 7.05025L8.46428 5.63604L9.87849 4.22182C12.6122 1.48815 17.0443 1.48815 19.778 4.22182C22.5117 6.95549 22.5117 11.3876 19.778 14.1213L18.3638 15.5355ZM15.5353 18.364L14.1211 19.7782C11.3875 22.5118 6.95531 22.5118 4.22164 19.7782C1.48797 17.0445 1.48797 12.6123 4.22164 9.87868L5.63585 8.46446L7.05007 9.87868L5.63585 11.2929C3.68323 13.2455 3.68323 16.4113 5.63585 18.364C7.58847 20.3166 10.7543 20.3166 12.7069 18.364L14.1211 16.9497L15.5353 18.364ZM14.8282 7.75736L16.2425 9.17157L9.17139 16.2426L7.75717 14.8284L14.8282 7.75736Z"></path></svg>');
      }

  .toTop {
    font-size: small;
    color: #374151;
    cursor: pointer;
  }

    .toTop::before {
      display: inline-block;
      width: 0.7rem;
      margin-right: 3px;
      vertical-align: middle;
      content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" ><path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" /></svg>');
    }

</style>