---
import Layout from "@layouts/Layout.astro";
import FAQ from "@components/widgets/FAQ.astro";
---

<Layout
  title="FAQ's - Frequently Asked Questions for Tandem Paragliding in Zermatt, Switzerland"
>
  <main>
    <div id="top" class="relative w-0 h-0 -top-16"></div>

    <div class="bg-white px-6 pt-12 sm:pt-32 pb-8 sm:pb-12 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
          FAQs
        </h2>
        <p
          class="mt-6 mb-4 sm:mb-6 text-lg leading-6 sm:leading-8 text-gray-600"
        >
          Some of our most Frequently Asked Questions.
        </p>
      </div>
    </div>


    <div class="mx-auto max-w-3xl">
      <div class="FAQBox   mb-4 sm:mb-10    relative px-4 py-5 sm:p-6 mx-4 sm:mx-6 rounded-lg bg-white shadow-md border-[1px] border-slate-200">

        <FAQ question="How do I book a flight?">
          <p>
            Bookings are made on our custom online reservation system. Click Book Now! to make your reservation:
          </p>
          <p>
            <a class=" block text-center" 
              href="/book-now" aria-label="Book Now!" 
            > 
              <button type="button" class="rounded text-black shadow-md bg-lime-300 px-2 py-1 text-md font-semibold hover:bg-gray-100 ring-1 ring-inset ring-white hover:ring-lime-300 " 
              >
                Book Now!
              </button>
            </a>
          </p>
          <p>
            You'll be asked when you want to fly, how many people and
            some basic information (age, finess, etc...). Complete your booking/reservation,
            you'll be asked for a valid credit card. Final payment happens after your flight
            is completed.
          </p>
        </FAQ>

        <FAQ question="An example question goes here...">
          <p>
            Upon making a Booking, the passenger confirms that he/she has
            read, understood and accepted these General Terms and
            Conditions.
          </p>
        </FAQ>

        <FAQ question="An example question goes here...">
          <p>
            Upon making a Booking, the passenger confirms that he/she has
            read, understood and accepted these General Terms and
            Conditions.
          </p>
        </FAQ>

        <FAQ question="An example question goes here...">
          <p>
            Upon making a Booking, the passenger confirms that he/she has
            read, understood and accepted these General Terms and
            Conditions.
          </p>
        </FAQ>

        <!-- <span class="plusIcon absolute right-4 top-5">
          <svg class="w-6 h-6"                  xmlns="http://www.w3.org/2000/svg"                  viewBox="0 0 24 24"                  fill="currentColor">
            <path d="M4 3H20C20.5523 3 21 3.44772 21 4V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3ZM5 5V19H19V5H5ZM11 11V7H13V11H17V13H13V17H11V13H7V11H11Z"></path>
          </svg>
        </span>
        <span class="minusIcon hidden    absolute right-4 top-5">
          <svg class="w-6 h-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" >
            <path d="M4 3H20C20.5523 3 21 3.44772 21 4V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3ZM5 5V19H19V5H5ZM7 11H17V13H7V11Z"></path>
          </svg>
        </span> -->

      </div>

      <div class="relative top-6 mb-10 text-center w-full">
        <a href="#top" class="toTop">TOP</a>
      </div>
    </div>
  </main>
</Layout>

<style>

  .FAQBox p {
    margin-bottom: 1rem;
  }

  .toTop {
    font-size: small;
    color: #374151;
    cursor: pointer;
  }

    .toTop::before {
      display: inline-block;
      width: 0.7rem;
      margin-right: 3px;
      vertical-align: middle;
      content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" ><path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" /></svg>');
    }

</style>