---
import Layout from "@layouts/Layout.astro";

// import CTABook from '@components/CTA-Book.astro';
---

<Layout
  title="Flights :: Swiss Paraglide Zermatt - Tandem Paragliding Flights in front of the Matterhorn."
>



  <div
    class="py-12 "
    style="background: no-repeat url('/images/paragliding/Swiss-Paraglide-Zermatt-Matterhorn-Classic-Flying.jpg'); background-size:cover; background-attachment:fixed;"
  >
    <div class="mx-auto max-w-7xl px-6 lg:px-8 min-h-screen">
      <div class="mx-auto max-w-4xl text-center">
        <h2
          class="pb-4 text-base font-semibold leading-7 text-white strong-text-shadow"
        >
          Swiss Paraglide's available flights
        </h2>
        <p
          class="mt-2 text-4xl font-bold tracking-tight text-white drop-shadow-lg sm:text-5xl bg-black/30 py-4 rounded-lg"
        >
          Choose one of our Amazing Paragliding Flights here in Zermatt
        </p>
      </div>
      <p
        class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-white strong-text-shadow"
      >
        The Classic is our most popular flight &ndash; available all year round.
        The Scenic is a great option for summer afternoons.
      </p>
      <div
        class="isolate mx-auto mt-16 grid max-w-md grid-cols-1 gap-y-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
        <div
          class="order-2 flex flex-col opacity-90 justify-between rounded-3xl shadow-lg bg-white p-8 ring-1 ring-gray-200 xl:p-10 lg:mt-8 lg:rounded-r-none"
        >
          <div>
            <div class="flex items-center justify-between gap-x-4">
              <h3
                id="tier-freelancer"
                class="text-xl drop-shadow font-semibold leading-8"
              >
                The Scenic
              </h3>
              <p
                class="rounded-full bg-indigo-600/10 px-2.5 py-1 text-xs font-semibold leading-5 text-green-800"
              >
                Summer only
              </p>
            </div>
            <p class="mt-4 text-sm leading-6">
              One thousand meters above the valley floor, with great views of
              the Matterhorn and the mountains of Zermatt.
            </p>
            <p class="mt-4 text-sm leading-6">
              From our lower take off points, this flight is perfect in the
              afternoon and when we're not able to fly from the higher Classic
              take off.
            </p>
            <p class="mt-6 flex items-baseline gap-x-1">
              <span class="text-4xl font-bold tracking-tight">190.&ndash;</span>
              <span class="text-sm ml-2 font-semibold leading-6 text-gray-600">
                CHF*</span
              >
            </p>
            <ul role="list" class="mt-8 space-y-3 text-sm leading-6">
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Late Spring - Late Summer only
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Our easiest flight
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                1 kilometer above Zermatt
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Perfect for Summer afternoons
              </li>
            </ul>
          </div>
          <a
            href="/book-now?flight=Scenic"
            aria-describedby="tier-freelancer"
            class="mt-8 block rounded-md py-2 px-3  text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 text-indigo-600 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300"
            >Book Now!</a
          >

          <p class="mt-4 text-xs leading-6">
            *Flight Price only &ndash; lift ticket not included.
            (for lift ticket prices, please visit the 
            <a href="#" target="_blank" class="text-indigo-800 underline">
              Zermatt Bergbahnen website
            </a> 
            )
          </p>
          
        </div>





        <div
          class="order-1 lg:order-2 lg:shadow-lg  opacity-90 lg:opacity-100 flex flex-col justify-between rounded-3xl bg-white p-8 ring-1 ring-gray-200 xl:p-10 lg:z-10 lg:rounded-b-none"
        >
          <div>
            <div class="relative flex items-center justify-between gap-x-4">
              <h3
                id="tier-startup"
                class="text-2xl drop-shadow font-semibold leading-8 text-indigo-600"
              >
                The Classic
              </h3>
              <p
                class="rounded-full bg-indigo-600/10 px-2.5 py-1 text-xs font-semibold leading-5 text-indigo-600"
              >
                Year round
              </p>

              <svg class="absolute top-40 -right-[3.5rem] w-40 h-40 text-lime-300 drop-shadow-xl border-black" viewBox="0 0 24 24" fill="currentColor" stroke="white" stroke-width="1.0">
                <path
                  d="M19.064 10.109l1.179-2.387c.074-.149.068-.327-.015-.471-.083-.145-.234-.238-.401-.249l-2.656-.172-.172-2.656c-.011-.167-.104-.317-.249-.401-.145-.084-.322-.09-.472-.015l-2.385 1.18-1.477-2.215c-.186-.278-.646-.278-.832 0l-1.477 2.215-2.385-1.18c-.151-.075-.327-.069-.472.015-.145.083-.238.234-.249.401l-.171 2.656-2.657.171c-.167.011-.318.104-.401.249-.084.145-.089.322-.015.472l1.179 2.386-2.214 1.477c-.139.093-.223.249-.223.416s.083.323.223.416l2.215 1.477-1.18 2.386c-.074.15-.068.327.015.472.083.144.234.238.401.248l2.656.171.171 2.657c.011.167.104.317.249.401.144.083.32.088.472.015l2.386-1.179 1.477 2.214c.093.139.249.223.416.223s.323-.083.416-.223l1.477-2.214 2.386 1.179c.15.073.327.068.472-.015s.238-.234.249-.401l.171-2.656 2.656-.172c.167-.011.317-.104.401-.249.083-.145.089-.322.015-.472l-1.179-2.385 2.214-1.478c.139-.093.223-.249.223-.416s-.083-.323-.223-.416l-2.214-1.475z"
                ></path>
              </svg>
              <div class="absolute top-[13.5rem] -right-[0.9rem] text-xl font-bold text-center leading-5 -rotate-45">
                Most<br>Popular!
              </div>


            </div>
            <p class="mt-4 text-sm leading-6">
              The Classic High Flight above Zermatt. One of the highest tandem
              paragliding flights available in the Alps &ndash; 1 Mile above
              Zermatt.
            </p>
            <p class="mt-4 text-sm leading-6">
              The Classic is our main high flight and is available all year
              round.
            </p>
            <p class="mt-6 flex items-baseline gap-x-1">
              <span class="text-4xl font-bold tracking-tight text-gray-900"
                >240.&ndash;</span
              >
              <span class="text-sm ml-2 font-semibold leading-6 text-gray-600"
                >CHF*</span
              >
            </p>
            <ul role="list" class="mt-8 space-y-3 text-sm leading-6">
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Amazing Views
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Available all year round
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                One mile high
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Our main Winter flight
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Our morning flight in Summer
              </li>
            </ul>
          </div>
          <a
          href="/book-now?flight=Classic"
            aria-describedby="tier-startup"
            class="mt-8 block rounded-md py-2 px-3   text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 bg-indigo-600 text-white shadow-sm hover:bg-indigo-500"
            >Book Now!</a
          >

          <p class="mt-4 text-xs leading-6">
            *Flight Price only &ndash; lift ticket not included.
            (for lift ticket prices, please visit the 
            <a href="#" target="_blank" class="text-indigo-800 underline">
              Zermatt Bergbahnen website
            </a> 
            )
          </p>

        </div>





        <div
          class="order-3 flex flex-col opacity-90 justify-between rounded-3xl bg-white p-8 ring-1 ring-gray-200 xl:p-10 lg:mt-8 lg:rounded-l-none"
        >
          <div>
            <div class="flex items-center justify-between gap-x-4">
              <h3
                id="tier-enterprise"
                class="text-xl drop-shadow font-semibold leading-8 text-black"
              >
                The Elite
              </h3>
              <p
                class="rounded-full bg-indigo-600/10 px-2.5 py-1 text-xs font-semibold leading-5 text-indigo-600"
              >
                Year round
              </p>
            </div>
            <p class="mt-4 text-sm leading-6">
              The highest tandem flight available in the Alps.
            </p>
            <p class="mt-4 text-sm leading-6">
              A true experience to fly over the glaciers of the Klein Matterhorn
              (the little Matterhorn) from almost 4'000 meters above sea level
              (12,500ft).
            </p>
            <p class="mt-6 flex items-baseline gap-x-1">
              <span class="text-4xl font-bold tracking-tight">420.&ndash;</span>
              <span class="text-sm ml-2 font-semibold leading-6 text-gray-600"
                >CHF*</span
              >
            </p>
            <ul role="list" class="mt-8 space-y-3 text-sm leading-6">
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                The Alp's highest tandem flight
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Available the entire year, weather and conditions permitting
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Amazing views of the Matterhorn and into Italy
              </li>
              
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Only for very sporty passengers
              </li>
              <li class="flex gap-x-3 text-orange-900">
                <svg
                  class="h-6 w-5 flex-none text-orange-800"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                With the Classic flight as a backup
              </li>
              
            </ul>
          </div>
          <a
          href="/book-now?flight=Elite"
            aria-describedby="tier-enterprise"
            class="mt-8 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 text-indigo-600 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300"
            >Book Now!</a
          >

          <p class="mt-4 text-xs leading-6">
            *Flight Price only &ndash; lift ticket not included.
            (for lift ticket prices, please visit the 
            <a href="#" target="_blank" class="text-indigo-800 underline">
              Zermatt Bergbahnen website
            </a> 
            )
          </p>

        </div>
      </div>




    </div>


  </div>



  <style></style>
</Layout>
