---
import Layout from "@layouts/Layout.astro";

import VideoHero from "@components/VideoHero.astro";
import IntroLogo from "@components/widgets/IntroLogo.astro";
---

<Layout
  title="Swiss Paraglide Zermatt - Tandem Paragliding Flights in front of the Matterhorn."
>
  <main>

    <VideoHero />

    <div class="absolute top-[15%]">
      <IntroLogo />
    </div>
    

  </main>

</Layout>
