---
import Layout from '../layouts/Layout.astro';

import Tail from '../components/Tail.vue';
import CTABook from '../components/CTA-Book.vue';

---

<Layout title="Swiss Paraglide Zermatt - Tandem Paragliding Flights in front of the Matterhorn.">
	<main>
		
		<CTABook />
		  
		<a style="color:white;" href="/book-now">Book Now!</a>


	</main>
</Layout>

<style>

</style>
