---
import Layout from '@layouts/Layout.astro';

import VideoHero from '@components/VideoHero.astro';

---

<Layout title="Swiss Paraglide Zermatt - Tandem Paragliding Flights in front of the Matterhorn.">
	<main>

		<VideoHero />
		



	</main>
</Layout>



