---
import Layout from "@layouts/Layout.astro";

import VideoHero from "@components/VideoHero.astro";
import IntroLogo from "@components/widgets/IntroLogo.astro";
---

<Layout
  title="Swiss Paraglide Zermatt - Tandem Paragliding Flights in front of the Matterhorn."
>
  <main>

    <VideoHero />

    <IntroLogo />

    <!-- <div class="
      relative z-20 top-[70vh] 
      w-full
      px-4 sm:px-10
    ">

      asdfasdf

      <div class="h-[33rem] bg-yellow-200"></div>

    </div> -->
    

  </main>

</Layout>
