---
import Layout from "@layouts/Layout.astro";

import VideoHero from "@components/VideoHero.astro";
import IntroLogo from "@components/widgets/IntroLogo.astro";
---

<Layout
  title="Swiss Paraglide Zermatt - Tandem Paragliding Flights in front of the Matterhorn."
>
  <main>

    <VideoHero />

    <IntroLogo />

  </main>

</Layout>

<style>
  body {
    background-color: black;
  }
</style>