---
import Layout from '@layouts/Layout.astro';

// import CTABook from '@components/CTA-Book.astro';

---

<Layout title="Swiss Paraglide Zermatt - Tandem Paragliding Flights in front of the Matterhorn.">
	<main>
		
      <div class="bg-white">
        <div class="mx-auto max-w-2xl px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:px-8">
          <div class="max-w-3xl">
            <h1 id="features-heading" class="font-medium text-gray-700">Pre-flight</h1>
            <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
              Good to know before you book a flight with Swiss Paraglide Zermatt.
            </h2>
            <p class="mt-4 text-gray-700">
               General information for your tandem paragliding flight in Zermatt. This will help you to prepare for your flight and to know what to expect.
               Safety is our top priority, and wind/weather conditions along with the fitness and confidence of the passenger all play a role our the decision to fly.
            </p>
          </div>
      
          <div class="mt-11 grid grid-cols-1 items-start gap-x-6 gap-y-16 sm:mt-16 sm:grid-cols-2 lg:grid-cols-4 lg:gap-x-8    text-sm font-light text-black">


            <div class="flex flex-col-reverse">
              <div class="mt-6">
                <h3 class="text-xl font-medium drop-shadow-md">
                  Weather
                </h3>
                <p class="mt-2 ">
                  We handle providing you with a safe and enjoyable flight &ndash; you're in charge of organising the beautiful
                  flying weather :-)
                </p>
                <p class="mt-2 ">
                  It goes without saying that Paragliding is absolutely, utterly weather dependant &ndash; the Weather Gods
                  are in charge.
                  If we are not able to fly due to poor weather conditions, you will not be charged for the Paragliding. 
                </p>
              </div>
              <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-gray-100">
                <svg class="p-8" width="32" height="32" viewBox="0 -960 960 960" fill="currentColor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                    <path d="M500-40q-20 0-35-14.5t-15-34.77q0-9.73 3.5-18.23T464-123l36-33 36 33q7 7 10.5 15.735Q550-98.529 550-89q0 20-15 34.5T500-40Zm-141-65-35-35 111-111 35 35-111 111Zm261-57-53-53 53-53 53 53-53 53Zm-360 0-53-53 53-53 53 53-53 53Zm30-178q-86.864 0-148.432-61.52Q80-463.04 80-549.835 80-629 136.5-691 193-753 277-759q32-56 84.5-88.5T480.423-880Q571-880 632.5-822.5T708-680q79 4 125.5 53.5T880-510.377Q880-440 830.417-390 780.833-340 710-340H290Zm0-60h420q46.2 0 78.1-32.5 31.9-32.5 31.9-78T788.1-588q-31.9-32-78.1-32h-60v-30q0-71-49.5-120.5T480.212-820q-51.481 0-93.847 27.5Q344-765 324-718l-8 18h-28q-62 2-105 45.393t-43 104.464Q140-488 183.929-444 227.857-400 290-400Zm190-210Z"></path>
                </svg>
              </div>
            </div>

            
            <div class="flex flex-col-reverse">
              <div class="mt-6">
                <h3 class="text-xl font-medium drop-shadow-md">
                  Fitness
                </h3>
                <p class="mt-2 ">
                  You need to be good on your feet and able to run 10-20 steps with confidence on the start! It's particularly important that you 
                  follow the pilot's instructions at the take off (it's easy, but your pilot can't run for you). 
                </p>
                <p class="mt-2 ">
                  If you are older, heavier and/or have physical issues that affect being able to run, then please 
                  let us know &ndash; we will do our best, but as always, safety first! 
                </p>
              </div>
              <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-gray-100">
                <svg class="p-8" width="32" height="32" viewBox="0 -960 960 960" fill="currentColor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                  <path d="m550-84-42-42 142-142-382-382-142 142-42-42 56-58-56-56 85-85-42-42 42-42 43 41 84-84 56 56 58-56 42 42-142 142 382 382 142-142 42 42-56 58 56 56-86 86 42 42-42 42-42-42-84 84-56-56-58 56Z"></path>
              </svg>
              </div>
            </div>



        </div>
      </div>
	</main>
</Layout>

<style>

</style>
