---
import Layout from "@layouts/Layout.astro";

import BulletHDiv from "@src/components/widgets/BulletHDiv.astro";
import PreflightPoint from "@src/components/widgets/PreflightPoint.astro";

// import CTABook from '@components/CTA-Book.astro';
---

<Layout
  title="Pre-flight Checklist - Good to know before you go paragliding in Zermatt - Swiss Paraglide Zermatt"
>
  <main>
    <div class="bg-gray-50 py-24 sm:py-32">
      <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-center text-base/7 font-semibold text-indigo-600">
          Pre-flight
        </h2>

        <p
          class="mx-auto mt-2 max-w-4xl text-balance text-center text-4xl font-semibold tracking-tight text-gray-950 sm:text-5xl"
        >
          Good to know before your flight
        </p>

        <p class="max-w-2xl mx-auto text-lg mt-4 text-gray-700">
          TODO: (better text here) General information for your tandem
          paragliding flight in Zermatt. Helpful in preparing you for your
          upcoming paragliding flight.
        </p>

        <div class="mt-10 xl:mt-20">
          <ul role="list" class="myGrid   grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4">

            <!-- Photos and Videos  -->
            <li class="col-span-1 flex flex-col ">
              <div class="flex flex-1 flex-col p-8  rounded-lg bg-white text-center shadow">

                <svg
                  class="mx-auto size-32 shrink-0"
                  viewBox="0 -960 960 960" fill="currentColor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"
                >
                  <path d="M479.5-267q72.5 0 121.5-49t49-121.5q0-72.5-49-121T479.5-607q-72.5 0-121 48.5t-48.5 121q0 72.5 48.5 121.5t121 49Zm0-60q-47.5 0-78.5-31.5t-31-79q0-47.5 31-78.5t78.5-31q47.5 0 79 31t31.5 78.5q0 47.5-31.5 79t-79 31.5ZM140-120q-24 0-42-18t-18-42v-513q0-23 18-41.5t42-18.5h147l73-87h240l73 87h147q23 0 41.5 18.5T880-693v513q0 24-18.5 42T820-120H140Zm0-60h680v-513H645l-73-87H388l-73 87H140v513Zm340-257Z"></path>
                </svg>

                <h3 class="item-title text-lg font-medium">
                  Photos &amp; Videos
                </h3>
                <dl class="mt-1 flex flex-col justify-between">
                  <dd class="text-left  text-sm">
                    Our Photo &amp; Video Package &ndash; shot on a specially built GoPro. 
                    The package normally consists of 40-60 photos and 5-10 short video clips.
                  </dd>
                  <dd class=" text-orange-800 text-right text-sm">
                    Optional 40.- CHF
                  </dd>
                  
                </dl>

              </div>
              
              <p class="bg-none text-sm text-gray-500 mt-2 px-4">
                Note: Personal Phones and Selfie Sticks are not allowed to be used during the flight (nothing 
                is allowed to be dropped)
              </p>

            </li>
          



            <!-- Meeting Point -->
            <li class="col-span-1 flex flex-col ">
              <div class="flex flex-1 flex-col p-8  rounded-lg bg-white text-center shadow">

                <svg
                  class="mx-auto size-32 shrink-0"
                  viewBox="0 -960 960 960" fill="currentColor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"
                >
                <path
                d="M468-240q-96-5-162-74t-66-166q0-100 70-170t170-70q97 0 166 66t74 163l-63-20q-11-64-60-106.5T480-660q-75 0-127.5 52.5T300-480q0 67 42.5 116.5T449-303l19 63Zm48 158q-9 1-18 1.5t-18 .5q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 9-.5 18t-1.5 18l-58-18v-18q0-142-99-241t-241-99q-142 0-241 99t-99 241q0 142 99 241t241 99h18l18 58Zm305 22L650-231 600-80 480-480l400 120-151 50 171 171-79 79Z"
              ></path>
                </svg>

                <h3 class="item-title text-lg font-medium ">
                  Meeting Point
                </h3>
                <dl class="mt-1 flex flex-col justify-between">
                  <dd class="text-left  text-sm">
                    You meet your pilot at the bottom station of the mountain lift
                    that matches the flight you've chosen.
                  </dd>
                  <dd class="text-left  text-sm">
                    After you complete your online booking, you will receive an
                    email with your meeting location.
                  </dd>   
                </dl>

              </div>
              
              <p class="bg-none text-sm text-gray-500 mt-2 px-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline-block">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
                </svg>                
                Please wait for your pilot before buying a lift ticket. This helps to
                insure that you don't buy the wrong one...
              </p>

            </li>


            <!-- Weather  -->
            <li class="col-span-1 flex flex-col ">
              <div class="flex flex-1 flex-col p-8  rounded-lg bg-white text-center shadow">

                <svg
                  class="mx-auto size-32 shrink-0"
                  viewBox="0 -960 960 960" fill="currentColor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"
                >
                  <path
                    d="M500-40q-20 0-35-14.5t-15-34.77q0-9.73 3.5-18.23T464-123l36-33 36 33q7 7 10.5 15.735Q550-98.529 550-89q0 20-15 34.5T500-40Zm-141-65-35-35 111-111 35 35-111 111Zm261-57-53-53 53-53 53 53-53 53Zm-360 0-53-53 53-53 53 53-53 53Zm30-178q-86.864 0-148.432-61.52Q80-463.04 80-549.835 80-629 136.5-691 193-753 277-759q32-56 84.5-88.5T480.423-880Q571-880 632.5-822.5T708-680q79 4 125.5 53.5T880-510.377Q880-440 830.417-390 780.833-340 710-340H290Zm0-60h420q46.2 0 78.1-32.5 31.9-32.5 31.9-78T788.1-588q-31.9-32-78.1-32h-60v-30q0-71-49.5-120.5T480.212-820q-51.481 0-93.847 27.5Q344-765 324-718l-8 18h-28q-62 2-105 45.393t-43 104.464Q140-488 183.929-444 227.857-400 290-400Zm190-210Z"
                  ></path>
                </svg>

                <h3 class="item-title text-lg font-medium ">
                  Wind &amp; Weather
                </h3>
                <dl class="mt-1 flex flex-col justify-between">
                  <dd class="text-left  text-sm">
                    It should be obvious that Paragliding is highly
                    weather dependant &ndash; if we are not able to fly due to poor weather 
                    conditions, there is no charge for the Paragliding.
                  </dd>   
                </dl>

              </div>
              
              <p class="bg-none text-sm text-gray-500 mt-2 px-4">
                If you are in Zermatt for more than one day, it's usually best to 
                    try to book your flight early in your stay &ndash; this lets us 
                    rebook if needed.
              </p>

            </li>



            <!-- Fitness  -->
            <li class="col-span-1 flex flex-col ">
              <div class="flex flex-1 flex-col p-8  rounded-lg bg-white text-center shadow">

                <svg
                  class="mx-auto size-32 shrink-0"
                  viewBox="0 -960 960 960" fill="currentColor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"
                >
                  <path
                    d="m550-84-42-42 142-142-382-382-142 142-42-42 56-58-56-56 85-85-42-42 42-42 43 41 84-84 56 56 58-56 42 42-142 142 382 382 142-142 42 42-56 58 56 56-86 86 42 42-42 42-42-42-84 84-56-56-58 56Z"
                  ></path>
                </svg>

                <h3 class="item-title text-lg font-medium ">
                  Your Fitness
                </h3>
                <dl class="mt-1 flex flex-col justify-between">
                  <dd class="text-left  text-sm">
                    You need to be good on your feet and able to run 10-20 steps
                    with confidence on the take-off. It is very important that
                    you are able follow the pilot's instructions (it's not difficult,
                    but your pilot is not able to run for you).
                  </dd>   
                </dl>

              </div>
              
              <p class="bg-none text-sm text-gray-500 mt-2 px-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline-block">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
                </svg>   
                If you are older/heavier and/or have physical issues that affect 
                being able to run, then please let us know &ndash; we will do our best, but as always, safety first! 
              </p>

            </li>


            <!-- Age  -->
            <li class="col-span-1 flex flex-col ">
              <div class="flex flex-1 flex-col p-8  rounded-lg bg-white text-center shadow">

                <svg
                  class="mx-auto size-32 shrink-0"
                  viewBox="0 -960 960 960" fill="currentColor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"
                >
                  <path
                    d="M535-40v-239l-108-99-42 188-265-55 11-56 199 40 73-369-100 47v134h-60v-175l164-69q32-14 45.5-17.5T480-714q20 0 35.5 8.5T542-680l42 67q26 42 71 73t105 31v60q-67 0-119.5-31T543-573l-39 158 91 84v291h-60Zm5-714q-30 0-51.5-21.5T467-827q0-30 21.5-51.5T540-900q30 0 51.5 21.5T613-827q0 30-21.5 51.5T540-754Z"
                  ></path>
                </svg>

                <h3 class="item-title text-lg font-medium ">
                  Your Age
                </h3>
                <dl class="mt-1 flex flex-col justify-between">
                  <dd class="text-left  text-sm">
                    If you are between the ages of 5 to 70 and you meet our fitness
                    criteria (see 'Your Fitness'), we'll be happy to take you for an
                    amazing paragliding flight here in front of the Matterhorn 
                  </dd>   
                </dl>

              </div>
              
              <p class="bg-none text-sm text-gray-500 mt-2 px-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline-block">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
                </svg>   
                We can make the occasional exception if you are fit &amp; sporty
                beyond your years, but we reserve the final judgement (if this
                is the case, please contact us and let us know).
              </p>

            </li>




          </ul>
        </div>

        
      </div>
    </div>
  </main>

  <style>

    .item-title {
      margin-top: 0rem;
      color: #b45309;
      font-size: 1.2rem;
    }

    .myGrid dd{
      margin-bottom: 0.5rem;
    }
  </style>
</Layout>
