---
import Layout from "@layouts/Layout.astro";

import Review from "@components/widgets/Review.astro";
---

<Layout title="Reviews :: Swiss Paraglide Zermatt - what people say about us.">
  <main>
    <div class="bg-white">
      <div
        class="mx-auto max-w-2xl px-4 pt-8 pb-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:px-8"
      >
        <div class="max-w-3xl">
          <h1 id="features-heading" class="font-light text-gray-700">
            What some of the people who've flown with us have to say:
          </h1>
          <h2
            class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            Swiss Paraglide Zermatt
          </h2>
          <p class="mt-4 text-gray-700">
            As we are a new company, we are just starting to collect our own
            Reviews. That said, Chris has been a Partner at FlyZermatt for 10
            years and has flown thousands of happy customers here in Zermatt
            (you can look as FlyZermatt's Google Reviews for more info).
          </p>
          <p class="mt-4 text-gray-700 italic font-light">
            Some of the reviews so far:
          </p>
        </div>

        <div id="reviewBox" class="mt-4">
          <Review name="Julia" stars="5">
            <p>
              Highly recommended. The three of us had a phantastic flight with
              pilot Chris and his team pilots. An extraordinary experience to
              fly towards the Matterhorn and above the Bluelounge while the
              Zermatt unplugged Band played. They can also handle anxious
              Passengers very well, very patient. We will be back next year 🪂
              <br /><br />
              Thank you Chris &amp; Team (from Google Reviews)
            </p>
          </Review>

          <Review name="Ola Ekberg" stars="5">
            <p>
              My daughter had a fantastic time flying with Chris. Next time I
              will definitely have to do it myself &nbsp; :-)
              <br /><br />
              (from Google Reviews)
            </p>
          </Review>
        </div>




      </div>
    </div>
  </main>

  <style></style>
</Layout>
