---
import Layout from "@layouts/Layout.astro";

import BulletHDiv from "@src/components/widgets/BulletHDiv.astro";
import PreflightPoint from "@src/components/widgets/PreflightPoint.astro";

// import CTABook from '@components/CTA-Book.astro';
---

<Layout
  title="Our Team - Swiss Paraglide Zermatt"
>
  <main>
    <div class="bg-gray-50 pt-6 pb-24 sm:py-32">
      <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-center text-base/7 font-semibold text-indigo-600">
          Get to know us
        </h2>

        <p
          class="mx-auto mt-2 max-w-4xl text-balance text-center text-4xl font-base font-bold tracking-tight text-gray-950 sm:text-5xl"
        >
          The Swiss Paraglide Team
        </p>

        <p class="max-w-2xl mx-auto text-md mt-4 text-gray-700">
          Swiss Paraglide Zermatt was founded by the Swiss/American pilot Chris Banford.
          After ten years as a Partner with FlyZermatt, he's now branched out on his own.
        </p>



        <div  id="top"    class="relative w-0 h-0 -top-16" ></div>

        <!-- <div id="quickLinks" class="mt-6 lg:mt-10 text-sm  md:text-md  w-full text-center  text-gray-400   font-normal select-none">
          <a href="#photos">Photos &amp; Videos</a> 
          &nbsp; | &nbsp;
          <a href="#meeting">Meeting Point</a> 
          &nbsp; | &nbsp;
          <a href="#weather">Weather</a>  
          &nbsp; | &nbsp;
          <a href="#fitness">Fitness</a>  
          &nbsp; | &nbsp;
          <a href="#age">Age</a>  
          &nbsp; | &nbsp;
          <a href="#safety">Safety</a>  
          &nbsp; | &nbsp;
          <a href="#transport">Transport</a>  
          &nbsp; | &nbsp;
          <a href="#cancellations">Cancellations</a>  
        </div> -->



        <div class="mt-10 xl:mt-20">
          <ul role="list" class="myGrid  relative   grid grid-cols-1 gap-6 sm:grid-cols-2 ">

            <!-- Chris  -->
            <li class="col-span-1 flex flex-col relative">
              <div  id="photos"    class="absolute -top-32  " ></div>
              <div class="flex flex-1 flex-col p-8  rounded-lg bg-white text-center shadow">


                <img class="mx-auto mb-2 size-48 shrink-0"   src="/images/team/Chris-in-Nepal-2013.webp" alt="Chris Banford - Pilot Portrait">

                <h3 class="item-title text-lg font-medium">
                  Chris Banford
                </h3>
                <dl class="mt-1 flex flex-col justify-between">
                  <dd class="text-left  text-sm">
                    Pilot &amp; Founder of Swiss Paraglide Zermatt.
                  </dd>
                  <dd class="text-left  text-sm">
                    Chris has been a pilot since 2007 and a full-time tandem pilot since 2013. He loves the challenge of 
                    flying long distance (XC - Cross-country) and racing in paragliding competitions around the world. 
                  </dd>
                  <dd class="text-left  text-sm">
                    Having lived most of his life in Zermatt, he knows the area extremely well.
                  </dd>
                  <dd class="text-left  text-sm">
                    Nationalities: Swiss (Zermatt) &amp; USA (Connecticut)
                  </dd>
                  <dd class="text-left  text-sm">
                    Languages: English. German.
                  </dd>
                  
                </dl>

              </div>
              
              <p class="bg-none text-sm text-gray-500 mt-2 px-4">
                
              </p>

            </li>
          
            <!-- Mirji -->
            <li class="col-span-1 flex flex-col relative">
              <div  id="photos"    class="absolute -top-32  " ></div>
              <div class="flex flex-1 flex-col p-8  rounded-lg bg-white text-center shadow">


                <img class="mx-auto mb-2 size-48 shrink-0"   src="/images/team/Mirjiam.webp" alt="Mirjiam (Mirji) Büchler">

                <h3 class="item-title text-lg font-medium">
                  Mirjiam (Mirji) Büchler
                </h3>
                <dl class="mt-1 flex flex-col justify-between">
                  <dd class="text-left  text-sm">
                    Customer Support. Office &amp; Administration.
                  </dd>
                  <dd class="text-left  text-sm">
                    Short Bio here... TODO
                  </dd>
                  <dd class="text-left  text-sm">
                    Mirji has lived full-time in Zermatt since XXXX and is a hospitality professional.
                  </dd>
                  <dd class="text-left  text-sm">
                    Nationalities: Swiss (Lausanne) &amp; German
                  </dd>
                  <dd class="text-left  text-sm">
                    Languages: French. German. English. 
                  </dd>
                  
                </dl>

              </div>
              
              <p class="bg-none text-sm text-gray-500 mt-2 px-4">
                
              </p>

            </li>
          
            <!-- Tim -->
            <!-- <li class="col-span-1 flex flex-col relative">
              <div  id="photos"    class="absolute -top-32  " ></div>
              <div class="flex flex-1 flex-col p-8  rounded-lg bg-white text-center shadow">

                <img class="mx-auto mb-2 size-48 shrink-0"   src="/images/team/Tim.webp" alt="Tim Matthias">

                <h3 class="item-title text-lg font-medium">
                  Tim
                </h3>
                <dl class="mt-1 flex flex-col justify-between">
                  <dd class="text-left  text-sm">
                    Pilot
                  </dd>
                  <dd class="text-left  text-sm">
                    TODO
                  </dd>
                  <dd class="text-left  text-sm">
                    Nationalities: USA &amp; German
                  </dd>
                  <dd class="text-left  text-sm">
                    Languages: English. Spanish. Chinese. German.
                  </dd>
                  
                </dl>

              </div>
              
              <p class="bg-none text-sm text-gray-500 mt-2 px-4">
                
              </p>

            </li> -->
          
            <!-- Alex -->
            <li class="col-span-1 flex flex-col relative">
              <div  id="photos"    class="absolute -top-32  " ></div>
              <div class="flex flex-1 flex-col p-8  rounded-lg bg-white text-center shadow">


                <img class="mx-auto mb-2 size-48 shrink-0"   src="/images/team/Alex.webp" alt="Pilot Alex Ribeiro">

                <h3 class="item-title text-lg font-medium">
                  Alex Ribeiro
                </h3>
                <dl class="mt-1 flex flex-col justify-between">
                  <dd class="text-left  text-sm">
                    Pilot
                  </dd>
                  <dd class="text-left  text-sm">
                    Alex is from Portugal and has made Zermatt his home since 2000. He started flying paragliders in 2010
                    and has been a Swiss Tandem Pilot since 2014.
                  </dd>
                  <dd class="text-left  text-sm">
                    Nationalities: Swiss (Zermatt) &amp; German
                  </dd>
                  <dd class="text-left  text-sm">
                    Languages: Portuegese. German. English. 
                  </dd>
                  
                </dl>

              </div>
              
              <p class="bg-none text-sm text-gray-500 mt-2 px-4">
                
              </p>

            </li>
          
            <!-- Matthias -->
            <!-- <li class="col-span-1 flex flex-col relative">
              <div  id="photos"    class="absolute -top-32  " ></div>
              <div class="flex flex-1 flex-col p-8  rounded-lg bg-white text-center shadow">

                <img class="mx-auto mb-2 size-48 shrink-0"   src="/images/team/Matthias.webp" alt="Pilot Matthias">

                <h3 class="item-title text-lg font-medium">
                  Matthias
                </h3>
                <dl class="mt-1 flex flex-col justify-between">
                  <dd class="text-left  text-sm">
                    Pilot
                  </dd>
                  <dd class="text-left  text-sm">
                    TODO
                  </dd>
                  <dd class="text-left  text-sm">
                    Nationalities: Swiss
                  </dd>
                  <dd class="text-left  text-sm">
                    Languages: German. English. 
                  </dd>
                  
                </dl>

              </div>
              
              <p class="bg-none text-sm text-gray-500 mt-2 px-4">
                
              </p>

            </li> -->
          




          </ul>
        </div>

        
      </div>
    </div>
  </main>

  <style>

    .item-title {
      margin-top: 0rem;
      color: #b45309;
      font-size: 1.2rem;
    }

    .myGrid dd{
      margin-bottom: 0.5rem;
    }

    #quickLinks a {
      color: #2a313d;
      text-shadow: 0 0 5px white, 0 0 3px white;

    } 

    .toTop {
      font-size: small;
      color: #374151;
      cursor: pointer;
    }

      .toTop::before {
        display: inline-block;
        width: 0.7rem;
        margin-right: 3px;
        vertical-align: middle;
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" ><path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" /></svg>');
      }

  </style>
</Layout>
