---
import Layout from '@layouts/Layout.astro';

---

<Layout title="FAQ's - Frequently Asked Questions for Tandem Paragliding with Swiss Paraglide Zermatt">
	<main>
		
    <div  id="top"    class="relative w-0 h-0 -top-16" ></div>

    <div class="bg-white px-6 pt-12 sm:pt-32 sm:pb-12 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
          Terms &amp; Conditions
        </h2>
        <p class="mt-6 mb-4 sm:mb-6 text-lg leading-6 sm:leading-8 text-gray-600">
          General Terms and Conditions (GTC) for Paragliding Passenger Flights with Swiss Paraglide Zermatt.
        </p>
      </div>
    </div>
    
    <!-- <div class="text-center mb-6 sm:mb-12">
      <a href="/">
        <button type="button" class="rounded-md bg-indigo-700 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
          Close
        </button>
      </a>
    </div> -->

    <!-- <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-12"> -->
      <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
      <!-- <div class="mx-auto max-w-3xl"> -->
    <div class="mb-4 sm:mb-10 mx-auto max-w-3xl">
      <div class="relative    px-4 py-5 sm:p-6  mx-4 sm:mx-6 rounded-lg bg-white shadow-md border-[1px] border-slate-200 ">
    
        <div class="pb-4 ">
          Upon making a Booking, the passenger confirms that he/she has read, understood and accepted these General Terms and Conditions. 
        </div>

        <div class="pb-4 sm:pb-8">
          The contract comes into effect with the legally binding booking by the passenger. In the event that individual provisions of these GTC should be void or ineffective in whole or in part, the validity and effectiveness of the remaining provisions shall thereby remain unaffected.
        </div>

        <div class="pb-4 sm:pb-8">
          <h4 class="font-semibold">Payment</h4>
          Payment is made after completion of the flight or late cancellation by the passenger (see "Cancellations" below). Each pilot will take payment after the flight. Credit Card is preferred, but Cash in Swiss Francs is also an option. Please make sure you have a working credit card or enough cash to cover your flight and optional photo package costs.
        </div>

        <div class="pb-4 sm:pb-8">
          <h4 class="font-semibold">Captain of the Ship</h4>
          The pilot is in command of the Tandem Paraglider and the passenger undertakes to follow his/her instructions. 
        </div>

        <div class="pb-4 sm:pb-8">
          <h4 class="font-semibold">Health &amp; Fitness</h4>
          The passenger confirms that he/she does not suffer from any health problems (mental or physical) which could affect the safe performance of a passenger flight with a paraglider. 
        </div>

        <div class="pb-4 sm:pb-8">
          <h4 class="font-semibold">Liability</h4>
          The passenger is aware that participation in a paraglider flight involves risks. Swiss Paraglide Zermatt has taken out liability insurance with a maximum cover of 5,000,000 CHF. The liability of Swiss Paraglide Zermatt for bodily injury and property damage suffered by the passenger during a paragliding flight shall be limited to a maximum of this amount.
        </div>

        <div class="pb-4 sm:pb-8">
          <h4 class="font-semibold">Minors</h4>
          Minors or incapacitated passengers require the consent of a parent or legal guardian. If such a person is not present at the time of the flight, a written declaration of consent must be submitted in advance to Swiss Paraglide Zermatt (this will be provided via Email, upon completion of your Online Booking).
        </div>

        <div class="pb-4 sm:pb-8">
          <h4 class="font-semibold">Meeting Time &amp; Place</h4>
          Appointments for the conducting of passenger flights shall be agreed in advance (even at short notice). Changes to the scheduled date and/or time of the flight may be necessary due to weather conditions or for organisational reasons. Swiss Paraglide Zermatt and/or the pilot makes the final decision as to whether or not it is possible to carry out a passenger flight. If the flight is canceled for any reason, there is no refund for Lift Passes / Ski Passes to get to the starting point.
        </div>

        <!-- Cancellations  -->
        <div  id="cancellations"    class="relative -top-20  " ></div>
        <div class="pb-4 sm:pb-8">
          <h4 class="font-semibold">Cancellations</h4>
          If the passenger cancels the flight, even though it would be possible to carry it out, the following rules apply to the refund of the flight: 
          <ul class="px-6 pt-2">
            <li class="pb-2">
              <strong>a)</strong> In the event of cancellation until noon (12:00 CET) of the day before the agreed flight date, the full cost of the flight will be refunded. There is no refund for Lift Passes / Ski Passes to get to the starting point.
            </li>
            <li>
              <strong>b)</strong>  In the event of cancellation after noon (12:00 CET) of the day before the agreed flight date, there shall be no refund. 
            </li>
          </ul>
        </div>

        <div class="pb-4 sm:pb-8">
          <h4 class="font-semibold">Additional accident insurance for passenger</h4>
          Swiss Paraglide Zermatt has taken out accident insurance for the passenger, valid in Switzerland only and with a maximum cover of CHF 100,000 for medical costs. 
          <span class="italic font-semibold">Benefits from this accident insurance can be claimed after the benefits of any existing accident insurance of the passenger have been fully exhausted. </span>
          Swiss Paraglide Zermatt is only liable for claims arising from the consequences of an accident within the scope of the insured benefits and only up to the insured limit of cover. 
        </div>

        <div class="pb-4 sm:pb-8">
          <h4 class="font-semibold">Mobile Phones</h4>
          Mobile phones and/or “Selfie Sticks” are not permitted during the flight – dropping of objects during the flight is dangerous and strictly forbidden.
          Compact or SLR cameras with a high-quality safety strap may be taken along, but Swiss Paraglide Zermatt does not accept any responsibility for damage to them.
          You are free to take your phones with you, to take pictures before and after the flight.
        </div>

        <div class="pb-4 sm:pb-8">
          <h4 class="font-semibold">Passengers from the USA or Canada</h4>
          Passengers from the USA or Canada expressly waive jurisdiction in the USA or Canada for any disputes arising from the passenger flight and acknowledge that neither Swiss Paraglide Zermatt (nor the pilot) agree to jurisdiction in the USA or Canada.
        </div>

        <div class="pb-4 sm:pb-8">
          <h4 class="font-semibold">Jurisdiction</h4>
          All disputes arising from the passenger flight contract shall be subject to the jurisdiction of the ordinary courts at the domicile of Swiss Paraglide Zermatt. Swiss law is exclusively applicable.
        </div>  

      </div>

      <div class="relative top-6 mb-10 text-center w-full">
        <a href="#top" class="toTop ">TOP</a>  
      </div>


    </div>

    <!-- <div class="text-center mb-6 sm:mb-12">
      <a href="/">
        <button type="button" class="rounded-md bg-indigo-700 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
          Close
        </button>
      </a>
    </div> -->


	</main>
</Layout>


<style>

  .toTop {
    font-size: small;
    color: #374151;
    cursor: pointer;
  }

    .toTop::before {
      display: inline-block;
      width: 0.7rem;
      margin-right: 3px;
      vertical-align: middle;
      content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" ><path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" /></svg>');
    }

</style>