<section 
    id="hero" 
    class="relative h-screen flex flex-col border-0 shadow-none items-center justify-center text-center text-white py-0 px-0"
>

    <div class="video-docker absolute top-0 left-0 w-full h-full overflow-hidden">
      <video class="min-w-full min-h-full absolute object-cover" autoplay muted loop controls="false">
        <source src="/video/new2.mp4"  type="video/mp4"/>
      </video>
    </div>

    <div class="video-content" >
        <img 
            class="h-[10rem] md:h-[15rem] mx-auto -mt-[0rem]" 
            src="/favicon.svg" 
            alt="Swiss Paraglide Zermatt - Logo"
        >
        
        <h1 class="mt-0 px-10 font-light text-3xl  md:text-5xl md:max-w-3xl md:p-10">
            Come fly with Swiss Paraglide Zermatt &mdash; 
            above the stunning Swiss Alps.
        </h1>

        <div id="buttons">
            <div class="mx-auto max-w-2xl text-center">
                <div class="mt-12 flex items-center justify-center gap-x-6">

                    <a aria-label="Book Now!" 
                        href="/book-now" 
                        class="rounded-md bg-lime-300  px-3.5 py-2.5  text-sm md:text-lg
                        font-semibold text-black shadow-sm hover:white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:bg-lime-300"
                    >
                        Book Now!
                    </a>

                    <a aria-label="Our Flights" 
                        href="/flights" 
                        class="text-sm font-semibold leading-6 text-white md:text-lg"
                    >
                        Our Flights <span aria-hidden="true" class="md:text-xl">→</span>
                    </a>
                </div>
            </div>
        </div>

        <div id="intro"  class="text-base/7 px-7 pt-10  sm:text-xl sm:max-w-xl sm:mx-auto  md:text-2xl md:max-w-2xl ">
            <p class="pb-4">
                Experiencing Paraglding &ndash; in the midst of the highest mountains in the Swiss Alps &ndash; is one of the most amazing experiences to be had in Zermatt.
            </p>
            <p>
                Paragliding can be experienced by almost anyone with some basic fitness and the ability to follow simple instructions on the take-off.
            </p>
        </div>

</div>

</section>

<style>

	html {
		width: 100vw;
		overflow-x: hidden
	}

	.video-docker video {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .video-docker::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .video-content {
        z-index: 2;
    }

</style>