<footer id="footbar" class="z-40 left-0 w-screen relative">

  <!-- Add a dynamic menu that is displayed if there is a Completed Booking in localStorage -->
  <div id="viewBookings" class="mx-auto  w-56 min-h-10 relative bottom-2    text-center py-2 px-4 border border-gray-400 rounded-md bg-blue-100 z-[110]   opacity-0 transition-opacity duration-1000 ease-in-out">
    <a href="/bookings" rel="nofollow" class="absolute top-0 left-0 right-0 bottom-0   text-lg text-black font-medium drop-shadow-md">
      <span id="viewBookingsTxt" class="relative top-1">~</span>
    </a>
  </div>

  <div class="mx-auto mt-8 py-4 overflow-hidden  pt-0">

    <nav
      class="ml-8 md:ml-0   pl-12 md:pl-0 md:mt-8   md:mb-2 columns-2 md:flex md:justify-center md:space-x-12"
      aria-label="Footer"
    >
      <div class="pb-3">
        <a
          class="pb-0 pt-0 block hover:text-purple-400"
          href="/book-now"
          aria-label="Book Now!"
        >
          <!-- SVG Book Now! Button  -->
          <button
            type="button"
            class="rounded text-black bg-lime-400 px-2 py-1 text-md font-semibold hover:bg-gray-100 ring-1 ring-inset ring-white hover:ring-lime-300"
            >Book Now!</button
          >
        </a>
      </div>
      <div class="pb-3">
        <a href="/flights" class="text-sm leading-6">Flights</a>
      </div>
      <div class="pb-3">
        <a href="/preflight" class="text-sm leading-6">Pre-flight</a>
      </div>
      <div class="pb-3">
        <a href="/faq" aria-label="Frequently Asked Questions - FAQs">FAQs</a>
      </div>

      <div class="pb-3">
        <a href="/team" class="text-sm leading-6" >Our Team</a>
      </div>

      <div class="pb-3">
        <a href="/contact" class="text-sm leading-6">Contact</a>
      </div>
    </nav>

    <!-- Social Media logos and links -->
    <div
      class="mt-6 md:mt-10 flex justify-center space-x-4 sm:space-x-6 text-xs"
    >
      <a
        href="https://www.instagram.com/swissparaglide/"
        target="_blank"
        title="Instagram @swissparaglide"
        class="relative -top-1 min-w-6 sm:min-w-10 text-center text-gray-400 hover:text-gray-500"
      >
        <svg
          class="h-6 w-6 mx-auto"
          fill="currentColor"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
            clip-rule="evenodd"></path>
        </svg>

        <svg
          version="1.1"
          id="intsaLogotype"
          x="0px"
          y="0px"
          viewBox="0 0 122.88 34.86"
          class="text-gray-400 w-12"
          fill="currentColor"
        >
          <g>
            <path
              class="st0"
              d="M6.32,0.12C3.81,1.17,1.04,4.15,0.17,7.88c-1.11,4.73,3.5,6.73,3.87,6.07c0.44-0.77-0.83-1.03-1.09-3.49 C2.62,7.3,4.1,3.76,5.95,2.21c0.34-0.29,0.33,0.11,0.33,0.86c0,1.33-0.07,13.26-0.07,15.75c0,3.37-0.14,4.43-0.39,5.49 c-0.25,1.07-0.66,1.79-0.35,2.06c0.34,0.31,1.82-0.43,2.67-1.62c1.02-1.43,1.38-3.14,1.44-5c0.08-2.24,0.07-5.8,0.08-7.83 c0-1.86,0.03-7.31-0.03-10.59C9.61,0.52,7.38-0.32,6.32,0.12L6.32,0.12L6.32,0.12z M95.63,15.89c-0.08,1.75-0.47,3.12-0.95,4.09 c-0.93,1.87-2.87,2.45-3.69-0.24c-0.45-1.46-0.47-3.91-0.15-5.96c0.33-2.08,1.24-3.66,2.76-3.51 C95.1,10.41,95.79,12.33,95.63,15.89L95.63,15.89L95.63,15.89z M70.46,26.76c-0.02,2.91-0.48,5.46-1.46,6.2 c-1.39,1.05-3.27,0.26-2.88-1.86c0.34-1.88,1.97-3.8,4.34-6.14C70.46,24.96,70.47,25.49,70.46,26.76L70.46,26.76L70.46,26.76z M70.08,15.88c-0.08,1.6-0.5,3.2-0.95,4.1c-0.93,1.87-2.88,2.45-3.69-0.24c-0.55-1.84-0.42-4.22-0.15-5.72 c0.35-1.95,1.21-3.75,2.76-3.75C69.55,10.27,70.29,11.92,70.08,15.88L70.08,15.88L70.08,15.88z M55.5,15.85 c-0.09,1.69-0.42,3.1-0.95,4.13c-0.96,1.86-2.85,2.45-3.69-0.24c-0.6-1.93-0.4-4.57-0.15-6c0.37-2.12,1.3-3.61,2.76-3.47 C54.96,10.42,55.69,12.33,55.5,15.85L55.5,15.85L55.5,15.85z M122.32,17.82c-0.37,0-0.53,0.38-0.67,1.01 c-0.48,2.2-0.98,2.7-1.63,2.7c-0.72,0-1.37-1.09-1.54-3.27c-0.13-1.72-0.11-4.87,0.06-8.02c0.03-0.65-0.14-1.28-1.88-1.91 c-0.75-0.27-1.83-0.67-2.37,0.63c-1.52,3.68-2.12,6.6-2.26,7.78c-0.01,0.06-0.08,0.07-0.1-0.07c-0.09-0.95-0.29-2.68-0.31-6.3 c0-0.71-0.15-1.31-0.94-1.8c-0.51-0.32-2.04-0.89-2.6-0.21c-0.48,0.55-1.04,2.03-1.61,3.79c-0.47,1.43-0.8,2.39-0.8,2.39 s0.01-3.85,0.01-5.31c0-0.55-0.38-0.73-0.49-0.77c-0.51-0.15-1.52-0.4-1.95-0.4c-0.53,0-0.66,0.3-0.66,0.73 c0,0.06-0.08,5.07-0.08,8.58c0,0.15,0,0.32,0,0.5c-0.29,1.61-1.24,3.8-2.28,3.8c-1.03,0-1.52-0.92-1.52-5.09 c0-2.44,0.07-3.5,0.11-5.26c0.02-1.02,0.06-1.8,0.06-1.97c-0.01-0.54-0.95-0.82-1.38-0.92c-0.44-0.1-0.82-0.14-1.12-0.12 c-0.42,0.02-0.72,0.3-0.72,0.68c0,0.2,0,0.59,0,0.59c-0.54-0.85-1.42-1.45-2-1.62c-1.56-0.47-3.2-0.05-4.43,1.67 c-0.98,1.37-1.57,2.92-1.8,5.15c-0.17,1.63-0.11,3.28,0.19,4.68c-0.36,1.58-1.04,2.22-1.78,2.22c-1.08,0-1.86-1.76-1.77-4.79 c0.06-2,0.46-3.4,0.9-5.43c0.19-0.86,0.03-1.32-0.34-1.75c-0.35-0.4-1.09-0.6-2.16-0.35c-0.76,0.18-1.85,0.37-2.84,0.52 c0,0,0.06-0.24,0.11-0.66c0.26-2.21-2.15-2.03-2.91-1.33c-0.46,0.42-0.77,0.92-0.89,1.81c-0.19,1.42,0.97,2.09,0.97,2.09 c-0.38,1.74-1.31,4.01-2.27,5.65c-0.51,0.88-0.91,1.53-1.42,2.23c0-0.26,0-0.52,0-0.77c-0.01-3.66,0.04-6.53,0.06-7.57 c0.02-1.02,0.06-1.78,0.06-1.95c-0.01-0.4-0.24-0.55-0.72-0.74c-0.43-0.17-0.93-0.28-1.45-0.32C70.5,8.24,70.1,8.59,70.11,9 c0,0.08,0,0.56,0,0.56c-0.54-0.85-1.42-1.45-2-1.62c-1.56-0.46-3.2-0.05-4.43,1.67c-0.98,1.37-1.62,3.29-1.8,5.13 c-0.17,1.72-0.14,3.17,0.09,4.4c-0.25,1.23-0.96,2.52-1.77,2.52c-1.03,0-1.62-0.92-1.62-5.09c0-2.44,0.07-3.5,0.11-5.26 c0.02-1.02,0.06-1.8,0.06-1.97c-0.01-0.54-0.95-0.82-1.38-0.92c-0.46-0.11-0.85-0.14-1.15-0.12c-0.4,0.03-0.68,0.39-0.68,0.65v0.62 c-0.54-0.85-1.42-1.45-2-1.62c-1.56-0.46-3.19-0.05-4.43,1.67c-0.81,1.12-1.46,2.36-1.8,5.11c-0.1,0.79-0.14,1.54-0.13,2.23 c-0.32,1.97-1.75,4.25-2.91,4.25c-0.68,0-1.33-1.32-1.33-4.14c0-3.76,0.23-9.1,0.27-9.62c0,0,1.47-0.02,1.76-0.03 c0.73-0.01,1.4,0.01,2.38-0.04c0.49-0.02,0.96-1.79,0.46-2c-0.23-0.1-1.85-0.19-2.5-0.2c-0.54-0.01-2.05-0.12-2.05-0.12 s0.14-3.55,0.17-3.92c0.03-0.31-0.38-0.47-0.61-0.57c-0.56-0.24-1.07-0.35-1.67-0.48c-0.83-0.17-1.2,0-1.27,0.69 c-0.11,1.06-0.17,4.16-0.17,4.16c-0.61,0-2.68-0.12-3.28-0.12c-0.56,0-1.17,2.42-0.39,2.45c0.9,0.03,2.46,0.06,3.49,0.1 c0,0-0.05,5.44-0.05,7.11c0,0.18,0,0.35,0,0.52c-0.57,2.97-2.58,4.57-2.58,4.57c0.43-1.96-0.45-3.44-2.04-4.69 c-0.58-0.46-1.74-1.33-3.03-2.29c0,0,0.75-0.74,1.41-2.22c0.47-1.05,0.49-2.25-0.66-2.52c-1.9-0.44-3.48,0.96-3.94,2.45 c-0.36,1.16-0.17,2.02,0.54,2.91c0.05,0.06,0.11,0.13,0.17,0.2c-0.43,0.83-1.02,1.94-1.52,2.81c-1.39,2.4-2.44,4.3-3.23,4.3 c-0.63,0-0.63-1.93-0.63-3.74c0-1.56,0.11-3.9,0.21-6.32c0.03-0.8-0.37-1.26-1.04-1.67c-0.41-0.25-1.28-0.75-1.78-0.75 c-0.76,0-2.93,0.1-4.99,6.06c-0.26,0.75-0.77,2.12-0.77,2.12l0.04-7.16c0-0.17-0.09-0.33-0.29-0.44c-0.35-0.19-1.27-0.57-2.1-0.57 c-0.39,0-0.59,0.18-0.59,0.55L12.57,19.8c0,0.85,0.02,1.84,0.11,2.28c0.08,0.43,0.22,0.79,0.39,1s0.36,0.37,0.68,0.44 c0.3,0.06,1.93,0.27,2.02-0.35c0.1-0.75,0.11-1.56,0.96-4.58c1.33-4.7,3.08-6.99,3.89-7.8c0.14-0.14,0.31-0.15,0.3,0.08 c-0.04,1.03-0.16,3.6-0.24,5.79c-0.22,5.85,0.84,6.94,2.36,6.94c1.16,0,2.8-1.16,4.56-4.08c1.1-1.82,2.16-3.61,2.93-4.9 c0.53,0.49,1.13,1.02,1.73,1.59c1.39,1.32,1.85,2.57,1.54,3.76c-0.23,0.91-1.1,1.84-2.65,0.93c-0.45-0.27-0.65-0.47-1.1-0.77 c-0.24-0.16-0.62-0.21-0.84-0.04c-0.58,0.44-0.91,1-1.1,1.68c-0.18,0.67,0.49,1.03,1.18,1.34c0.6,0.27,1.89,0.51,2.71,0.54 c3.2,0.11,5.77-1.55,7.56-5.81c0.32,3.68,1.68,5.77,4.05,5.77c1.58,0,3.17-2.04,3.86-4.05c0.2,0.82,0.49,1.53,0.87,2.13 c1.82,2.89,5.36,2.27,7.13-0.19c0.55-0.76,0.63-1.03,0.63-1.03c0.26,2.31,2.12,3.12,3.19,3.12c1.2,0,2.43-0.56,3.29-2.51 c0.1,0.21,0.21,0.41,0.33,0.6c1.82,2.89,5.36,2.26,7.13-0.19c0.08-0.11,0.16-0.22,0.22-0.31l0.05,1.52c0,0-1.01,0.93-1.63,1.5 c-2.74,2.51-4.82,4.42-4.97,6.63c-0.2,2.83,2.1,3.88,3.83,4.02c1.84,0.15,3.42-0.87,4.39-2.3c0.85-1.25,1.41-3.95,1.37-6.62 c-0.02-1.07-0.04-2.42-0.06-3.88c0.96-1.12,2.04-2.53,3.04-4.18c1.09-1.8,2.25-4.22,2.85-6.1c0,0,1.01,0.01,2.09-0.06 c0.35-0.02,0.45,0.05,0.38,0.3c-0.08,0.31-1.36,5.27-0.19,8.58c0.8,2.26,2.62,2.99,3.69,2.99c1.26,0,2.46-0.95,3.11-2.36 c0.08,0.16,0.16,0.31,0.25,0.45c1.82,2.89,5.34,2.26,7.13-0.19c0.4-0.55,0.63-1.03,0.63-1.03c0.38,2.4,2.25,3.14,3.31,3.14 c1.11,0,2.17-0.46,3.02-2.48c0.04,0.89,0.09,1.62,0.18,1.85c0.05,0.14,0.37,0.32,0.6,0.4c1.02,0.38,2.05,0.2,2.44,0.12 c0.27-0.05,0.47-0.27,0.5-0.82c0.07-1.45,0.03-3.88,0.47-5.68c0.74-3.03,1.42-4.21,1.75-4.79c0.18-0.33,0.39-0.38,0.4-0.04 c0.02,0.7,0.05,2.75,0.33,5.5c0.21,2.03,0.49,3.22,0.7,3.6c0.61,1.08,1.37,1.13,1.99,1.13c0.39,0,1.21-0.11,1.14-0.8 c-0.04-0.34,0.03-2.41,0.75-5.4c0.47-1.95,1.26-3.71,1.55-4.35c0.11-0.24,0.15-0.05,0.15-0.01c-0.06,1.34-0.19,5.73,0.35,8.13 c0.74,3.25,2.89,3.62,3.63,3.62c1.59,0,2.9-1.21,3.34-4.41C122.95,18.42,122.79,17.82,122.32,17.82L122.32,17.82L122.32,17.82z M122.32,17.82L122.32,17.82L122.32,17.82L122.32,17.82z"
            ></path>
          </g>
        </svg>
      </a>

      <a
        href="https://youtube.com/@swissparaglide"
        target="_blank"
        title="Our YouTube Channel: @swissparaglide"
        class="min-w-8 sm:min-w-12 text-center text-gray-400 hover:text-gray-500"
      >
        <!-- <svg
          class="h-7 w-7 mx-auto relative -top-0.5"
          fill="currentColor"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M19.812 5.418c.861.23 1.538.907 1.768 1.768C21.998 8.746 22 12 22 12s0 3.255-.418 4.814a2.504 2.504 0 0 1-1.768 1.768c-1.56.419-7.814.419-7.814.419s-6.255 0-7.814-.419a2.505 2.505 0 0 1-1.768-1.768C2 15.255 2 12 2 12s0-3.255.417-4.814a2.507 2.507 0 0 1 1.768-1.768C5.744 5 11.998 5 11.998 5s6.255 0 7.814.418ZM15.194 12 10 15V9l5.194 3Z"
            clip-rule="evenodd"></path>
        </svg> -->

        <svg 
          class=" w-9 mx-auto relative -top-1.5 text-gray-400" 
          fill="currentColor" 
          viewBox="0 0 90 100"
        >
          <g>
            <g>
              <path
                d="M82.287,45.907c-0.937-4.071-4.267-7.074-8.275-7.521c-9.489-1.06-19.098-1.065-28.66-1.06
                c-9.566-0.005-19.173,0-28.665,1.06c-4.006,0.448-7.334,3.451-8.27,7.521c-1.334,5.797-1.35,12.125-1.35,18.094
                c0,5.969,0,12.296,1.334,18.093c0.936,4.07,4.264,7.073,8.272,7.521c9.49,1.061,19.097,1.065,28.662,1.061
                c9.566,0.005,19.171,0,28.664-1.061c4.006-0.448,7.336-3.451,8.272-7.521c1.333-5.797,1.34-12.124,1.34-18.093
                C83.61,58.031,83.62,51.704,82.287,45.907z M28.9,50.4h-5.54v29.438h-5.146V50.4h-5.439v-4.822H28.9V50.4z M42.877,79.839h-4.629
                v-2.785c-1.839,2.108-3.585,3.136-5.286,3.136c-1.491,0-2.517-0.604-2.98-1.897c-0.252-0.772-0.408-1.994-0.408-3.796V54.311
                h4.625v18.795c0,1.084,0,1.647,0.042,1.799c0.111,0.718,0.462,1.082,1.082,1.082c0.928,0,1.898-0.715,2.924-2.166v-19.51h4.629
                L42.877,79.839L42.877,79.839z M60.45,72.177c0,2.361-0.159,4.062-0.468,5.144c-0.618,1.899-1.855,2.869-3.695,2.869
                c-1.646,0-3.234-0.914-4.781-2.824v2.474h-4.625V45.578h4.625v11.189c1.494-1.839,3.08-2.769,4.781-2.769
                c1.84,0,3.078,0.969,3.695,2.88c0.311,1.027,0.468,2.715,0.468,5.132V72.177z M77.907,67.918h-9.251v4.525
                c0,2.363,0.773,3.543,2.363,3.543c1.139,0,1.802-0.619,2.066-1.855c0.043-0.251,0.104-1.279,0.104-3.134h4.719v0.675
                c0,1.491-0.057,2.518-0.099,2.98c-0.155,1.024-0.519,1.953-1.08,2.771c-1.281,1.854-3.179,2.768-5.595,2.768
                c-2.42,0-4.262-0.871-5.599-2.614c-0.981-1.278-1.485-3.29-1.485-6.003v-8.941c0-2.729,0.447-4.725,1.43-6.015
                c1.336-1.747,3.177-2.617,5.54-2.617c2.321,0,4.161,0.87,5.457,2.617c0.969,1.29,1.432,3.286,1.432,6.015v5.285H77.907z"
              ></path>
              <path
                d="M70.978,58.163c-1.546,0-2.321,1.181-2.321,3.541v2.362h4.625v-2.362C73.281,59.344,72.508,58.163,70.978,58.163z"
              ></path>
              <path
                d="M53.812,58.163c-0.762,0-1.534,0.36-2.307,1.125v15.559c0.772,0.774,1.545,1.14,2.307,1.14
                c1.334,0,2.012-1.14,2.012-3.445V61.646C55.824,59.344,55.146,58.163,53.812,58.163z"
              ></path>
              <path
                d="M56.396,34.973c1.705,0,3.479-1.036,5.34-3.168v2.814h4.675V8.82h-4.675v19.718c-1.036,1.464-2.018,2.188-2.953,2.188
                c-0.626,0-0.994-0.37-1.096-1.095c-0.057-0.153-0.057-0.722-0.057-1.817V8.82h-4.66v20.4c0,1.822,0.156,3.055,0.414,3.836
                C53.854,34.363,54.891,34.973,56.396,34.973z"
              ></path>
              <path
                d="M23.851,20.598v14.021h5.184V20.598L35.271,0h-5.242l-3.537,13.595L22.812,0h-5.455c1.093,3.209,2.23,6.434,3.323,9.646
                C22.343,14.474,23.381,18.114,23.851,20.598z"
              ></path>
              <path
                d="M42.219,34.973c2.342,0,4.162-0.881,5.453-2.641c0.981-1.291,1.451-3.325,1.451-6.067v-9.034
                c0-2.758-0.469-4.774-1.451-6.077c-1.291-1.765-3.11-2.646-5.453-2.646c-2.33,0-4.149,0.881-5.443,2.646
                c-0.993,1.303-1.463,3.319-1.463,6.077v9.034c0,2.742,0.47,4.776,1.463,6.067C38.069,34.092,39.889,34.973,42.219,34.973z
                  M39.988,16.294c0-2.387,0.724-3.577,2.231-3.577c1.507,0,2.229,1.189,2.229,3.577v10.852c0,2.387-0.722,3.581-2.229,3.581
                c-1.507,0-2.231-1.194-2.231-3.581V16.294z"
              ></path>
            </g>
          </g>
        </svg>

        <span class="sr-only">YouTube</span>
      </a>

      <!-- <a href="https://tiktok.com/@swissparaglide" target="_blank" class="min-w-10 sm:min-w-16 text-center text-gray-400 hover:text-gray-500">
        <svg
          class="w-16 relative top-0.5 grayscale text-gray-400"
          fill="currentColor"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 1000 291.379"
          enable-background="new 0 0 1000 291.379"
          xml:space="preserve"
        >
          <g>
            <path
              fill="#FF004F"
              d="M191.102,105.182c18.814,13.442,41.862,21.351,66.755,21.351V78.656c-4.711,0.001-9.41-0.49-14.019-1.466   v37.686c-24.891,0-47.936-7.909-66.755-21.35v97.703c0,48.876-39.642,88.495-88.54,88.495c-18.245,0-35.203-5.513-49.29-14.968   c16.078,16.431,38.5,26.624,63.306,26.624c48.901,0,88.545-39.619,88.545-88.497v-97.701H191.102z M208.396,56.88   c-9.615-10.499-15.928-24.067-17.294-39.067v-6.158h-13.285C181.161,30.72,192.567,47.008,208.396,56.88L208.396,56.88z    M70.181,227.25c-5.372-7.04-8.275-15.652-8.262-24.507c0-22.354,18.132-40.479,40.502-40.479   c4.169-0.001,8.313,0.637,12.286,1.897v-48.947c-4.643-0.636-9.329-0.906-14.013-0.807v38.098c-3.976-1.26-8.122-1.9-12.292-1.896   c-22.37,0-40.501,18.123-40.501,40.48C47.901,206.897,56.964,220.583,70.181,227.25z"
            ></path>
            <path
              d="M177.083,93.525c18.819,13.441,41.864,21.35,66.755,21.35V77.189c-13.894-2.958-26.194-10.215-35.442-20.309   c-15.83-9.873-27.235-26.161-30.579-45.225h-34.896v191.226c-0.079,22.293-18.18,40.344-40.502,40.344   c-13.154,0-24.84-6.267-32.241-15.975c-13.216-6.667-22.279-20.354-22.279-36.16c0-22.355,18.131-40.48,40.501-40.48   c4.286,0,8.417,0.667,12.292,1.896v-38.098c-48.039,0.992-86.674,40.224-86.674,88.474c0,24.086,9.621,45.921,25.236,61.875   c14.087,9.454,31.045,14.968,49.29,14.968c48.899,0,88.54-39.621,88.54-88.496V93.525L177.083,93.525z"
            ></path>
            <path
              fill="#00F2EA"
              d="M243.838,77.189V66.999c-12.529,0.019-24.812-3.488-35.442-10.12   C217.806,67.176,230.197,74.276,243.838,77.189z M177.817,11.655c-0.319-1.822-0.564-3.656-0.734-5.497V0h-48.182v191.228   c-0.077,22.29-18.177,40.341-40.501,40.341c-6.554,0-12.742-1.555-18.222-4.318c7.401,9.707,19.087,15.973,32.241,15.973   c22.32,0,40.424-18.049,40.502-40.342V11.655H177.817z M100.694,114.408V103.56c-4.026-0.55-8.085-0.826-12.149-0.824   C39.642,102.735,0,142.356,0,191.228c0,30.64,15.58,57.643,39.255,73.527c-15.615-15.953-25.236-37.789-25.236-61.874   C14.019,154.632,52.653,115.4,100.694,114.408z"
            ></path>
            <path
              fill="#FF004F"
              d="M802.126,239.659c34.989,0,63.354-28.136,63.354-62.84c0-34.703-28.365-62.844-63.354-62.844h-9.545   c34.99,0,63.355,28.14,63.355,62.844s-28.365,62.84-63.355,62.84H802.126z"
            ></path>
            <path
              fill="#00F2EA"
              d="M791.716,113.975h-9.544c-34.988,0-63.358,28.14-63.358,62.844s28.37,62.84,63.358,62.84h9.544   c-34.993,0-63.358-28.136-63.358-62.84C728.357,142.116,756.723,113.975,791.716,113.975z"
            ></path>
            <path
              d="M310.062,85.572v31.853h37.311v121.374h37.326V118.285h30.372l10.414-32.712H310.062z M615.544,85.572v31.853h37.311   v121.374h37.326V118.285h30.371l10.413-32.712H615.544z M432.434,103.648c0-9.981,8.146-18.076,18.21-18.076   c10.073,0,18.228,8.095,18.228,18.076c0,9.982-8.15,18.077-18.228,18.077C440.58,121.72,432.434,113.63,432.434,103.648z    M432.434,134.641h36.438v104.158h-36.438V134.641z M484.496,85.572v153.226h36.452v-39.594l11.283-10.339l35.577,50.793h39.05   l-51.207-74.03l45.997-44.768h-44.258l-36.442,36.153V85.572H484.496z M877.623,85.572v153.226h36.457v-39.594l11.278-10.339   l35.587,50.793H1000l-51.207-74.03l45.995-44.768h-44.256l-36.452,36.153V85.572H877.623z"
            ></path>
            <path
              d="M792.578,239.659c34.988,0,63.358-28.136,63.358-62.84c0-34.703-28.37-62.844-63.358-62.844h-0.865   c-34.99,0-63.355,28.14-63.355,62.844s28.365,62.84,63.355,62.84H792.578z M761.336,176.819c0-16.881,13.8-30.555,30.817-30.555   c17.005,0,30.804,13.674,30.804,30.555s-13.799,30.563-30.804,30.563C775.136,207.379,761.336,193.7,761.336,176.819z"
            ></path>
          </g>
        </svg>
        <span class="relative top-[6px] sr-only">TikTok</span>
      </a>

      <a href="https://www.facebook.com/profile.php?id=61557191484333" target="_blank" class="min-w-4 sm:min-w-16 text-center text-gray-400 hover:text-gray-500">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 266 100"
          class="w-20 mx-auto relative -top-1 grayscale"
          fill="currentColor"
        >
          <path fill="none" d="M0 0h266v100H0z"></path>
          <g fill="#3b5998"
            ><path
              d="M140.021 49.597c-1.784 0-3.07.585-4.374 1.181v13.486c1.249.119 1.965.119 3.15.119 4.282 0 4.869-1.961 4.869-4.699v-6.441c0-2.022-.671-3.646-3.645-3.646zm-28.438-.736c-2.971 0-3.649 1.631-3.649 3.651v1.135h7.294v-1.135c0-2.02-.678-3.651-3.645-3.651zm-55.09 14.037c0 1.598.754 2.428 2.418 2.428 1.785 0 2.842-.582 4.145-1.18v-3.199h-3.903c-1.848 0-2.66.344-2.66 1.951zm111.191-13.301c-2.976 0-4.007 1.624-4.007 3.646v7.379c0 2.027 1.031 3.656 4.007 3.656 2.968 0 4.007-1.629 4.007-3.656v-7.379c-.001-2.022-1.04-3.646-4.007-3.646zM41.909 71.172h-8.748V49.998H28.79v-7.296h4.372V38.32c0-5.953 2.467-9.492 9.479-9.492h5.838v7.298H44.83c-2.73 0-2.91 1.02-2.91 2.923l-.011 3.652h6.61l-.773 7.296h-5.837v21.175zm29.897.055h-7.291l-.315-1.844c-3.329 1.844-6.3 2.143-8.26 2.143-5.347 0-8.193-3.572-8.193-8.512 0-5.828 3.321-7.908 9.262-7.908h6.047v-1.26c0-2.975-.341-3.848-4.916-3.848h-7.48l.731-7.296h8.176c10.038 0 12.239 3.171 12.239 11.203v17.322zm24.793-20.694c-4.537-.778-5.84-.949-8.023-.949-3.921 0-5.106.865-5.106 4.195v6.299c0 3.33 1.185 4.199 5.106 4.199 2.183 0 3.486-.174 8.023-.955v7.117c-3.974.891-6.563 1.125-8.751 1.125-9.392 0-13.125-4.939-13.125-12.074v-5.111c0-7.141 3.733-12.089 13.125-12.089 2.188 0 4.777.235 8.751 1.13v7.113zm27.376 8.957h-16.042v.588c0 3.33 1.186 4.199 5.106 4.199 3.524 0 5.675-.174 10.204-.955v7.117c-4.368.891-6.644 1.125-10.929 1.125-9.393 0-13.128-4.939-13.128-12.074v-5.844c0-6.243 2.771-11.356 12.396-11.356s12.393 5.054 12.393 11.356v5.844zm28.437.135c0 6.896-1.971 11.926-13.911 11.926-4.312 0-6.841-.379-11.6-1.111V31.02l8.745-1.459V43.35c1.89-.702 4.336-1.059 6.562-1.059 8.746 0 10.203 3.921 10.203 10.222v7.112zm28.033.15c0 5.949-2.456 11.719-12.732 11.719-10.281 0-12.783-5.77-12.783-11.719v-5.744c0-5.952 2.502-11.723 12.783-11.723 10.276 0 12.732 5.771 12.732 11.723v5.744zm28.014 0c0 5.949-2.459 11.719-12.733 11.719-10.281 0-12.783-5.77-12.783-11.719v-5.744c0-5.952 2.502-11.723 12.783-11.723 10.274 0 12.733 5.771 12.733 11.723v5.744zm28.749 11.397h-9.479l-8.017-13.383v13.383h-8.748V31.019l8.748-1.459v25.849l8.017-12.707h9.479l-8.752 13.867 8.752 14.603zm-41.512-21.575c-2.971 0-4.002 1.624-4.002 3.646v7.379c0 2.027 1.031 3.656 4.002 3.656 2.967 0 4.017-1.629 4.017-3.656v-7.379c0-2.022-1.05-3.646-4.017-3.646zM242.201 66.178c1.473 0 2.646 1.201 2.646 2.701 0 1.523-1.174 2.711-2.657 2.711-1.476 0-2.673-1.188-2.673-2.711 0-1.5 1.197-2.701 2.673-2.701h.011zm-.011.42c-1.187 0-2.158 1.021-2.158 2.281 0 1.283.972 2.291 2.169 2.291 1.198.012 2.155-1.008 2.155-2.279s-.957-2.293-2.155-2.293h-.011zm-.503 3.853h-.48v-3.014c.252-.035.492-.07.852-.07.456 0 .754.096.937.227.177.133.272.336.272.623 0 .398-.262.637-.585.734v.023c.263.049.442.287.503.73.07.469.143.648.19.746h-.503c-.071-.098-.144-.373-.204-.77-.07-.383-.264-.527-.648-.527h-.333v1.298zm0-1.668h.348c.394 0 .729-.145.729-.518 0-.264-.19-.527-.729-.527-.157 0-.266.012-.348.023v1.022z"
            ></path>
          </g>
        </svg>
        <span class="relative -top-[6px]  sr-only">Facebook</span>
      </a> -->

      <a
        href="https://www.zermatt.ch/"
        target="_blank"
        class="relative top-1   min-w-16 text-center text-gray-400 hover:text-gray-500"
      >
        <img
          src="/images/logos/zermatt-logo.png"
          alt="Zermatt Logo"
          class="relative -top-[10px] w-12 mx-auto grayscale"
        />
        <span class="relative -top-[14px] sr-only">Zermatt Tourism</span>
      </a>
    </div>

    <p class="mt-4  md:my-8 text-center text-xs leading-5 text-gray-400">
      © <span id="year">2024</span> Swiss Paraglide Zermatt. All rights reserved.
    </p>
    <p class="mt-2 !mb-2 md:my-8 text-center text-xs leading-5 text-gray-500">
      <a href="/terms-and-conditions">Terms &amp; Conditions</a> 
    </p>
  </div>

  <div class="mx-auto text-center text-xs pb-2">
    Our other reccomended paragliding companies here in Zermatt: <br />
    <a class="text-white/15" href="https://www.flyzermatt.com/" target="_blank"
      >FlyZermatt Paragliding</a
    >
    |
    <a
      class="text-white/15"
      href="https://matterhornparagliding.com/"
      target="_blank">Matterhorn Paragliding</a
    >
    <br /><br />
    How much does Paragliding in Zermatt cost? | What to do in Zermatt | Adventure
    in Zermatt | Best Paragliding in Switzerland | Paragliding in the Swiss Alps
    | Paragliding by the Matterhorn | Activities in Zermatt | Things to do in Zermatt
  </div>
</footer>

<script>
  // Vanilla JS. Show current year in copyright.
  document.getElementById("year").innerHTML = new Date().getFullYear() + "";
</script>

<style>
  /* Don't need - always going to have enough content to 'push' footer downwards far enough.
    Hide Footer on very short screen heights */
  /* @media (max-height: 40rem) {
        footer {
            display: none;
        }
    } */

  .grayscale {
    filter: grayscale(1);
  }

  .sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
</style>
