---

// import { Picture } from 'astro:assets';
// import paraImg from "@images/Swiss-Paraglide-Zermatt-in-front-of-Matthorn-summer-lowres.jpg";

import SVGLogo from "@components/nav/Logo.astro"

---

<!-- <link rel="preload" as="image" href="/images/Swiss-Paraglide-Zermatt-in-front-of-Matthorn-summer-lowres.jpg"> -->

<nav id="navbar"
    class="sticky top-0 z-[10] h-[62px]  
    flex flex-wrap items-center justify-between w-full py-4 px-4 
    text-lg text-gray-100
    "
>
    <!-- SVG Logo  -->
    <div class="relative top-[-10px] z-40">
        <a href="/" aria-label="Return to Swiss Paraglide Zermatt's home page">
            <SVGLogo/>
        </a>
    </div>

    <!-- SVG Hamburger Button  -->
    <div class="relative top-[-10px] mr-[10px] z-40">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            id="menu-button"
            class="h-6 w-6 cursor-pointer md:hidden block"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
            />
        </svg>
    </div>

    <!-- Menu / Flyout Menu  -->
    <!-- <div 
        id="menu"   
        class="hidden absolute right-0 top-0 pt-[60px]
        bg-cover md:bg-none
        bg-[url('/images/Matterhorn-and-tandem-paraglider-swiss-paraglide-zermatt.jpg')]   
        w-screen   md:flex md:items-center md:w-auto md:pt-0 "
    > -->
    <div 
        id="menu"   
        class="hidden absolute right-0 top-0 pt-[60px]
        bg-cover md:bg-none 
        bg-black/90
        border-b-4 shadow-lg md:shadow-none md:border-none border-white
        w-screen   md:flex md:items-center md:w-auto md:pt-0 "
    >
        <ul id="navMenu" class="mr-[20px] p-5 pl-8 text-base md:flex md:justify-between    md:p-0 md:pt-[3px]" >

            <li>
                <a class="pb-6 pt-3 md:pt-4 md:pr-4 md:pb-0 block" href="/book-now" aria-label="Book Now!">
                    <!-- SVG Book Now! Button  -->
                    <button type="button" class="rounded text-black bg-lime-300 px-2 py-1 text-sm font-semibold hover:bg-gray-100 ring-1 ring-inset ring-white hover:ring-lime-300 " >Book Now!</button>
                </a>
            </li>

            <li>
                <a class="md:p-4 py-2 block"  href="/flights" aria-label="Flights">Flights</a>
            </li>
            <li>
                <a class="md:p-4 py-2 block" href="/preflight" aria-label="Pre-flight">Pre-flight</a>
            </li>
            <li>
                <a class="md:p-4 py-2 block" href="/gallery" aria-label="Gallery">Gallery</a>
            </li>
            <li>
                <a class="md:p-4 py-2 block" href="/about" aria-label="About Us">About Us</a>
            </li>
            <li>
                <a class="md:p-4 py-2 block" href="/contact" aria-label="Contact">Contact</a>
            </li>
        </ul>
        
    </div>
</nav>
